.templateitem, .templateitemBig {
	background-color: #D4D4D4;
	border: 1px solid #D4D4D4;
}

.templateitem:hover, .templateitemBig:hover {
	border: 1px solid #a4a4a4;
}

.tab-inner {
  	background: rgb(245, 245, 245);
  	border-bottom: 0px solid #D4D4D4;
}
 
.tabrow li.selected:before, 
.tabrow li.selected:after, 
.tabrow li:before, 
.tabrow li:after {
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  border: 0px solid #AAA;
  }

.tabrow li.selected:before{

}

.lineButons, 
div.itemSubmit div.button, 
div.itemOptions div.button, 
.commentingfields .button {
  overflow: hidden;
}

.lineButons input,div.button input {
  left: -300px;
}

div.uploader span.action {
  margin-left: 8px;
}

div.button input.item_info_buttons{
  left: -30px;
}

/* cor do texto nos placeholders */
.placeholder { 
  color: #bbb;
}

#home .pelicula {
  top: 334px;
}

hr {
  filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#02000000', endColorstr='#02000000',GradientType=1 ); /* IE6-9 */
}

.commentsButtonList {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
}

.commentsButtonPrevious, .commentsButtonPreviousBlocked {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
}

.commentsButtonNext, .commentsButtonNextBlocked {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
}

.commentsButtonList:hover, .commentsButtonPrevious:hover, .commentsButtonNext:hover {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
}

.post .pagination .next_page, .post .pagination .previous_page, .post .pagination > a, .post .pagination > em, .post .pagination > .gap {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
}

.post .pagination > em {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
}

.blogMinihrUp {
  filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#02000000', endColorstr='#02000000',GradientType=1 ); /* IE6-9 */
}

.blogMinihrDown {
  filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#02000000', endColorstr='#02000000',GradientType=1 ); /* IE6-9 */
}

.minihrUp {
  filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#02000000', endColorstr='#02000000',GradientType=1 ); /* IE6-9 */
}

.minihrDown {
  filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#02000000', endColorstr='#02000000',GradientType=1 ); /* IE6-9 */
}

#templateIndex .pagination .next_page, #templateIndex .pagination .previous_page, #orderingOptionsButton > .orderRight, #orderingOptionsButton > .orderLeft, #timeOrderingOptionsButton > .orderRight, #timeOrderingOptionsButton > .orderLeft, #templateIndex .pagination > a, #templateIndex .pagination > em, #templateIndex .pagination > .gap {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
}

#templateIndex .pagination > em {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
}

#orderingOptionsButton > .orderLeft:hover, #orderingOptionsButton > .orderRight:hover, #timeOrderingOptionsButton > .orderLeft:hover, #timeOrderingOptionsButton > .orderRight:hover {
  filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
}

.minihrDown {
  filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#02000000', endColorstr='#02000000',GradientType=1 ); /* IE6-9 */
}

#home {
  background: red;
  border-color: #000;
}