
%h1 Categories#index
%p Find me in app/views/categories/index.html.erb

-@categories.each do |category|
	= link_to t(category.name), templates_path(:category_id => category.id)
	= category.description
	%p
