%h3
  = t('add_images_title')

%div{:class => 'templateItems'}
  - @count = 1
  - @items.each do |item|
    - if @extend_first_div_item == true
      - div_name = "templateitemBig"
      - @extend_first_div_item = false
    -else
      - div_name = "templateitem"

    %div{:id => "div_for_item_#{item.id}", :class => @website_name=="Facebook" ? "#{div_name} item_container item_container_facebook" : "#{div_name} item_container item_container_gplus", :template_key => @template.key, :count => @count, :qtip_title => t('item_info_title'), :info => item.item_type.name == "Imagem" ? t('upload_info_tip') : "", :too_big_error => t('size_too_big') }  
      -# if it is an image type item
      - if (item.item_type.name == "Imagem" || item.item_type.name == "Icon")
        %div{:class => "outputPreview"}
          %div{:class => "itemImage"}
            = image_tag 'thumbnail.png',:alt => 'Thumbnail', :id => 'image_for_item_' + item.id.to_s
            - image = Image.new
        %div{:class => "itemOptions", :id => "item_#{item.id}_options"}
          %p 
            =t(@template.key + '-help' + @count.to_s)#item.description
          %hr{:class => "minihrUp"}
          %hr{:class => "minihrDown"}
          %div{:class => 'itemSizes'}
            =t('minimum_size')
            = item.width
            ×
            = item.height
          %div{:class => 'lineButons'}
            = form_for image, :html => {:multipart => true, :id => 'form_for_item_' + item.id.to_s, :class => "image_upload_form"}, :remote => true do |f|
              %label{:class => 'cabinet'}
                = f.file_field :file, :id => 'item_' + item.id.to_s, :class => 'file', :accept => "image/*"
              = f.hidden_field 'item_id', :value => item.id
              = hidden_field_tag 'template_id', @template.id
          %div{:class => 'lineButons'}
            
            -#= submit_tag 'i', :remote => true, :id => 'item_info_button_'+ item.id.to_s, :class => 'item_info_buttons', :item_id => "#{item.id}", :qtip_url => '/templates/' + @template.key + '/h_' + @count.to_s + '.jpg', :qtip_title => t('item_info_title')
            - @count+=1

            = submit_tag t('edit'), :remote => true, :id => 'crop_button_' + item.id.to_s, :class => 'crop_buttons' ,:disabled => true
        %div{:id=>"uploading_item_#{item.id}", :class => 'loading_for_image_upload'}
          %p
            = image_tag 'loading.gif'
            %br
            =t('uploading')
        %div{:id=>"cropping_item_#{item.id}", :class => 'loading_for_image_crop'}
          %p
            = image_tag 'loading.gif'
            %br
            =t('editing')

      - else
        -# if it is a text type item
        %div{:class => "itemOptions"}
          %p 
            =t(@template.key + '-help' + @count.to_s)
          %div{:class => 'itemSizes'}
            =t('maximum_string_length')
            = item.size.to_i
          = text_area_tag item.id, '',:id => 'item_' + item.id.to_s, :class => 'text_field', :size => "40x5"

  %div{:class => 'itemSubmit'}    
    = form_tag url_for(:controller => 'templates', :action => 'submit'), :id => 'submit_all_images', :remote => true  do
      = hidden_field_tag 'id', @template.id
      - @items.each do |item|
        = hidden_field_tag "hidden_#{item.id}"
      = submit_tag t('submit'), :disabled => true, :id => 'submit_images', :class => 'submit_template_button', :ready => 0, :item_size => @size_of_items_of_image_type
-# - @count = 1
-# - @items.each do |item|
-#   %div{:class => 'itemInfo', :id => "item_info_button_#{item.id.to_s}_div"}
-#     = image_tag '/templates/' + @template.key + '/h_' +@count.to_s + '.jpg'
-#    - @count+=1
  
  