-functionalities_path = link_to t('open_features_new_tab'), features_path, :target => "_blank"

.output_images#gplus_output_images
  %div{:class => 'profile_gplus', :functionalities_path => functionalities_path, :download_profile_help_text => t('download_profile_help_text') }
    .image_gplus
      - if @template.output == 2
        = image_tag "/downloads/" + @imgPJ.id.to_s + "/profile.jpg", :class => 'profile_'+ @website, :size => "269x269"
      - else
        = image_tag "peliculas/default_profile_image_gplus.png", :class => 'profile_'+ @website, :size => "269x269"
    
  %div{:class => 'cover_gplus', :functionalities_path => functionalities_path, :download_cover_help_text => t('download_cover_help_text') }
    = image_tag "/downloads/"  + @imgPJ.id.to_s +  "/cover.jpg", :class => 'cover_'+ @website, :size => "758x145"
