-functionalities_path = link_to t('open_features_new_tab'), features_path, :target => "_blank"

.output_images#fb_output_images
  %div{:class => 'profile_fb', :functionalities_path => @template.output == 2 ? functionalities_path : "", :download_profile_help_text => @template.output==2 ? t('download_profile_help_text') : t('no_profile_output')  }
    .image_fb
      - if @template.output == 2
        = image_tag "/downloads/" + @imgPJ.id.to_s + "/profile.jpg", :class => 'profile_'+ @website, :size => "160x160"
      - else
        = image_tag "peliculas/default_profile_image_fb.png", :class => 'profile_'+ @website, :size => "160x160"
    
  %div{:class => 'cover_fb', :functionalities_path => functionalities_path, :download_cover_help_text => t('download_cover_help_text') }
    = image_tag "/downloads/"  + @imgPJ.id.to_s +  "/cover.jpg", :class => 'cover_'+ @website
