#output
  .header
    %h1
      - if @template.output == 2
        = t('processed_images')
      - else
        = t('processed_image')
    
    %p  
      - if @template.website.name == 'Google+'
        =t('download_ready_help_gplus')#Faça download e envie para o google+"
      - elsif @template.website.name == 'Facebook'
        =t('download_ready_help_fb')#Faça download e envie para o google+" 
    
        
  - if @template.website.name == 'Google+'
    = render "download_ready_gplus"
  - elsif @template.website.name == 'Facebook'
    = render "download_ready_fb"
    
    
  -#download buttons
  .button
    = form_tag :controller => 'templates', :action => 'download', :imgPJ_id => @imgPJ.id do
      - if @template.output == 2
        = submit_tag t('download_profile'), :id => 'download_profile', :name => 'download_profile'
      = submit_tag t('download_cover'), :id => 'download_cover', :name => 'download_cover'



  .SubmitUserExample      
    %br    
      %p
        = t('allow_fotos_usage')
      = link_to t('accept_and_submit'), '#',  :id => 'UserExampleBox', :class => 'list-button'

    #UserExampleDiv
      #UserExampleInfo
        = t("examples_thanks")
        %p
          = form_tag url_for(:controller => 'templates', :action => 'submit_template_example', :imgPJ_id => @imgPJ.id), :remote =>true do
        
            = label_tag t('email')
            = ':'
            = text_field_tag 'email', ''
            %p
            = label_tag t('link')
            = ':'
            = text_field_tag 'link', ''
            = submit_tag t('send'), :id => 'SubmitUserExampleButton'


