-if @offset != (@total_examples-1)
  .buttonNext{:onClick => "showNextExample(#{@template.id}, #{@offset+1}, '#{@locale}')"}
-if @offset != 0
  .buttonPrevious{:onClick => "showNextExample(#{@template.id}, #{@offset-1}, '#{@locale}')"}

- if @website_name == "Google+"
  = image_tag "/templates/" + @template.key + "/"+ @example.main, :class => 'templateExampleGplus'
  = image_tag "/assets/peliculas/Google_plus_"+@locale+".png", :class => 'templatePellicle'
- elsif @website_name == "Facebook"
  = image_tag "/templates/" + @template.key + "/"+ @example.main, :class => 'templateExampleFb'
  = image_tag "/assets/peliculas/Facebook_"+@locale+".png", :class => 'templatePellicle'
