.blogmenu
  .menuItem
    .menuItemText.menuItemHomeIcon
      -if !@is_category_search
        .itemActive
          = link_to t('templates_home'), templates_path(:google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2")
      -else
        = link_to t('templates_home'), templates_path(:google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2")
  .menuItem
    .menuItemText.menuItemCategoryIcon#menu_categories
      -if @is_category_search
        .itemActive
          =t('categories')
      -else
        =t('categories')
  #menu_categories_submenu
    - @categories.each do |c|
      .submenuItem
        .submenuItemText
          = link_to t(c.name), templates_path(:category => c.slug, :google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2")
  .finalItem
    