%div{:id => "templateIndex"}
  - if @similar_templates
    %div{:id => "templateIndexHeader"}
      %div{:id => "templateIndexTitle"}
        =t('tab_similar_templates')
  -else
    %div{:id => "templateIndexHeader"}
      
      %div{:id => "templateIndexTitle"}
        -if @is_category_search
          = t(@category.name)
        -else
          =t('templates')
      %div{:id => "templateIndexButtons"}
        

        - if @order_by != "Date"
          #timeOrderingOptionsButton
            %div{:class => "orderLeft"}
              =t("order_" + @period_of_time)
            %div{:class => "orderRight"}
              = image_tag '/assets/icons/icon-arrowDown.png'
              #timeOrderMenu
                %ul
                  %a{:href => templates_path(:order_by => @order_by, :period_of_time => "week", :tag => @tag_slug, :category => @category_slug, :google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2"), :class => @period_of_time == "week" ? "order_selected" : "" }
                    %li
                      = t('order_week')
                  %a{:href => templates_path(:order_by => @order_by, :period_of_time => "month", :tag => @tag_slug, :category => @category_slug, :google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2"), :class => @period_of_time == "month" ? "order_selected" : "" }
                    %li
                      = t('order_month')
                  %a{:href => templates_path(:order_by => @order_by, :period_of_time => "all", :tag => @tag_slug, :category => @category_slug, :google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2"), :class => @period_of_time == "all" ? "order_selected" : "" }
                    %li
                      = t('order_all')
        #orderingOptionsButton
          %div{:class => "orderLeft"}
            =t("order_by_" + @order_by)
          %div{:class => "orderRight"}
            = image_tag '/assets/icons/icon-arrowDown.png'
            #orderMenu
              %ul
                %a{:href => templates_path(:order_by => 'Date', :tag => @tag_slug, :category => @category_slug, :google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2"), :class => @order_by == "Date" ? "order_selected" : "" }
                  %li
                    = t('order_by_Date')
                %a{:href => templates_path(:order_by => 'Views', :tag => @tag_slug, :category => @category_slug, :google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2"), :class => @order_by == "Views" ? "order_selected" : "" }
                  %li
                    = t('order_by_Views')
                %a{:href => templates_path(:order_by => 'Executions', :tag => @tag_slug, :category => @category_slug, :google => @google_active.nil? ? "" : "1", :facebook => @facebook_active.nil? ? "" : "2"), :class => @order_by == "Executions" ? "order_selected" : "" }
                  %li
                    = t('order_by_Executions')
        #socialOptionsButton
          %div{:class => "orderLeft"}
            =t('filter_social_network')
          -if @facebook_active.nil?
            =link_to templates_path(:category => @category_slug, :tag => @tag_slug) do
              %div{:class => "orderMiddle"}
                Facebook 
          -else
            =link_to templates_path(:google=> '1', :category => @category_slug, :tag => @tag_slug) do
              %div{:class => "orderMiddleSelected"}
                Facebook ✔
          -if @google_active.nil?
            =link_to templates_path(:category => @category_slug, :tag => @tag_slug) do
              %div{:class => "orderRight"}
                Google
          -else
            =link_to templates_path(:facebook=> '2', :category => @category_slug, :tag => @tag_slug) do
              %div{:class => "orderRightSelected"}
                Google ✔

  
  - if @templates.size > 0
    %ul{:id => "templateIndexElements"}
      - @templates.each do |template|
        %li{:class => (!@google_active.nil? and !@facebook_active.nil?) ? "GoogleMisc" : (template.website.name == 'Google+') ? "Google" : "Facebook" }
          %div{:class => 'template-stamp'}
            -if template.website.name == 'Facebook'
              = image_tag '/assets/etiquetas/etiquetaFacebook.png'
            -elsif template.website.name == 'Google+'
              = image_tag '/assets/etiquetas/etiquetaGoogle.png'
          %div{:class => 'boxHidden'}
            %h3
              = link_to t(template.key + '-title'), template_path(template.slug)
            %div{:class => (template.website.name == 'Google+') ? "imageGoogle" : "imageFacebook"}
              = link_to (image_tag ('/templates/' + template.key + '/' + template.template_examples.first.thumb), :alt => "thumb"), template_path(template.slug)
              %div{:class => "buttonZoom", :id=>template.slug, :value=>"#{@locale}"}
                = image_tag '/assets/icons/zoom.png'
            %p
              = strip_tags(t(template.key + '-desc')).truncate(290)
  
  
  - if @templates.count > @templates_per_page
    -if params[:page] == '1' or !params[:page]
      = will_paginate @templates, {:inner_window => 2, :outer_window => 0, :previous_label =>'<img alt="Icon-comment-blocked-previous" src="/assets/icons/icon-comment-blocked-previous.png"/>',:next_label =>'<img alt="Icon-comment-next" src="/assets/icons/icon-comment-next.png"/>'}#:next_label => "Next", :previous_label => "Previous"
    -if params[:page].to_i > 1 and (params[:page].to_i * @templates_per_page) <= @templates.count
      = will_paginate @templates, {:inner_window => 2, :outer_window => 0, :previous_label =>'<img alt="Icon-comment-previous" src="/assets/icons/icon-comment-previous.png"/>',:next_label =>'<img alt="Icon-comment-next" src="/assets/icons/icon-comment-next.png"/>'}
    -if params[:page].to_i > 1 and (params[:page].to_i * @templates_per_page) > @templates.count
      = will_paginate @templates, {:inner_window => 2, :outer_window => 0, :previous_label =>'<img alt="Icon-comment-previous" src="/assets/icons/icon-comment-previous.png"/>',:next_label =>'<img alt="Icon-comment-blocked-next" src="/assets/icons/icon-comment-blocked-next.png"/>'}

- if !@similar_templates
  = render 'menu'
