%div{:id=>"headspace"}

%h1{:id => "templatetitle"}
  = t(@template.key + '-title')
 
=# link_to 'Submit', tab_items_templates_path(:template_id => @template.id), :remote => true, :style => "padding: 10px"
=# link_to 'Comments', tab_comments_templates_path(:template_id => @template.id), :remote => true, :style => "padding: 10px"

%div{:class => 'templateInformation'}
  #templateDescription
    .description
      = t('template_description')
    %p
      = raw t(@template.key + '-desc') + ' ' + t(@template.key + '-refs')
    .spacer
    %hr
    #metainformation
      %strong
        = t('category') + ":"
      = link_to t(@template.template_category.name), templates_path(:category => @template.template_category.slug)
      #separador
        ="|"
      %strong
        = t('tag') + ":"
      - @template.tags.each do |tag|
        -@count +=1
        -if @count != @len
          = link_to t(tag.name) + ', ', templates_path(:tag => tag.slug)
        -else
          = link_to t(tag.name), templates_path(:tag => tag.slug)

         
  %div{:class => 'templateSocialButtons'}
    = render 'social/template_buttons'

#example_and_help_buttons_div
  = submit_tag t('show_examples'), :remote => true, :id => 'show_template_example_button'
  -#= submit_tag t('help'), :remote => true, :id => 'show_template_help_button'
#templateExamples.hide
  =render 'examples'
      
%ul{:class => 'tabrow'}
  %li{:class => 'selected selectable', :id =>'tabSubmit', :onClick => "setSubmitTabTrigger(#{@template.id})"}
    = t('tab_submit')
    -#= link_to t('tab_submit'), tab_items_template_path(:id => @template.id), :remote => true
  -if @imgPJ
    %li{:id => 'tabOutput', :class => 'selectable', :onClick => "setOutputTabTrigger('#{I18n.locale}', #{@template.id})"}
      -#= link_to t('tab_output'), tab_output_template_path(:id => @template.id), :remote => true
      = t('tab_output')
  -else
    %li{:id => 'tabOutput', :class => 'disabled'}
      = t('tab_output')
  %li{:id => 'tabComments', :class => 'selectable', :onClick => "setCommentsTabTrigger(#{@template.id})"}
    = t('tab_comments')
    -#= link_to t('tab_comments'), tab_comments_template_path(:id => @template.id), :remote => true
  %li{:id => 'tabTemplates', :class => 'selectable', :onClick => "setSimilarsTabTrigger('#{I18n.locale}', #{@template.id})"}
    = t('tab_similar_templates')
    -#= link_to t('tab_similar_templates'), "#"
 
%div{:class => 'tab-inner'}
  %div{:class => 'adds'}
    -if @ad
      = @ad.script
  %div{:id => "tabBlock"}
    =render 'items_index'
