%h1 Download
%p Find me in app/views/templates/submit.html.erb

%div
  = form_tag :controller => 'templates', :action => 'download' do
    = image_tag "/downloads/" + request.session_options[:id].to_s +  "/cover.png"
    = submit_tag "Download Cover", :id => 'download_cover'
    %div
      - if @template.output == 2
        = image_tag "/downloads/" + request.session_options[:id].to_s +  "/profile.jpg"
        = submit_tag "Download profile", :id => 'download_profile'
    