<% if !@session_expired %>

  <% if !@beanstalkd_off %>

    <% if !@still_processing %>

      $("li").removeClass("selected");
      $('#tabOutput').removeClass("disabled");
      $('#tabOutput').addClass("selected");
      $('#tabOutput').addClass("selectable");  
      <% if !@imgPJ.finished %>
        setTimeout('requestDownloadLinks( "<%= I18n.locale %>", <%= @template.id %>, <%= @imgPJ.id %> )', 2000);
        $( "#tabBlock" ).html( "<%= escape_javascript( render( :partial => "download_waiting" ) ) %>" );
        goToByScroll("tabSubmit");
      <% elsif @imgPJ.finished && @imgPJ.success %>    
        $("#tabOutput").attr('onclick', 'setOutputTabTrigger("<%= I18n.locale %>", <%= @template.id %> )' );
        $( "#tabBlock" ).html( "<%= escape_javascript( render( :partial => "download_ready") ) %>" );
        prepareTemplateTips();
        $('#download_profile, #download_cover').uniform();
      <% else %>
          $( "#tabBlock" ).html( "<%= escape_javascript( render( :partial => "download_fail" ) ) %>" );
      <% end %>  
  
    <% else %>    
  
    alert(<%= t('still_processing') %>);
  
    <% end %>  
  
  <% else %>  
    window.location.href ="/500.html";
    //window.location.href ="/" + '<%= I18n.locale %>';
  <% end %>
  
<% else %>  
  alert( ' <%= t("session_expired") %> ');
  window.location.reload(true); 

<% end %>