<% if @imgPJ %>
  $( "#tabBlock" ).html( "<%= escape_javascript( render( :partial => 'download_ready' ) ) %>" );
  prepareTemplateTips();
<% else %>  
  if ($("#tabOutput").attr('class') == 'selectable selected' ){
    $("#tabOutput").removeClass("selected selectable");
    $("#tabOutput").addClass("disabled");
    alert( "<%= t('generated_images_expired') %> ");
  }
<% end %>