$( "#tabBlock" ).html( "<div class='tabComments'><%= escape_javascript( render( :partial => 'template_comments/form' ) ) %>  <div class='commentsHeader'> <%= t('comments')%></div> <%= escape_javascript( render( :partial => 'template_comments/comments_excerpt' ) ) %></div>" );