.blogmenu
  .menuItem
    .menuItemText.menuItemHomeIcon
      = link_to t('homeIndex'), blog_path
  .menuItem
    .menuItemText.menuItemCategoryIcon#menu_categories
      =t('categories')
  #menu_categories_submenu
    - @categories.each do |c|
      .submenuItem
        .submenuItemText
          = link_to c.name, blog_index_by_category_path(c.slug)
    
  .menuItem
    .menuItemText.menuItemCalendarIcon#menu_calendar
      =t('calendar')
  #menu_calendar_submenu
    - @posts_by_year.each do |py_k, py_v|
      - py_v.each do |pm_k, pm_v|
        .submenuItem
          .submenuItemText
            = pm_k + " " + py_k
          
        .div{:class => ("subsubmenuContainer" unless pm_v.empty?)}
          - pm_v.each do |post|
            .subsubmenuItem
              .subsubmenuItemText
                = link_to post.title, blog_entry_url(post.slug)
        
    
  .finalItem
    