<div class="blockSpace"></div>
  <div class="post">
    <% @blog_entries.each do |blog_entry| %>
    <div class="postHeader">
      <h1><%= link_to blog_entry.title, blog_entry_path(blog_entry.slug) %></h1>
      <strong><%= t('category') %>:</strong> 
      <%= link_to blog_entry.blog_category.name, blog_index_by_category_path(blog_entry.blog_category.slug) %>  | 
      <span class="comments">
      	<% @comments_count = BlogComment.where(:blog_entry_id => blog_entry.id, :approved => true).count%> 
      	<%= @comments_count.to_s %> 
      	<%if @comments_count != 0 %>
      		<%= link_to t('comments'), blog_entry_path(blog_entry.slug)+ '#comments', :id => "link_to_comments" %>
      	<%else%>
      		<%= t('comments') %>
      	<%end%>
      </span>
      <hr class="blogMinihrUp" />
      <hr class="blogMinihrDown" />
    </div>
    <div class="postContent hyphenate">
      <%= blog_entry.excerpt.html_safe %>
    </div>
    <div class="postfooter">
      <strong><%= t('date') %>:</strong> 
      <%= blog_entry.created_at.strftime('%b %d, %Y') %> |
      <strong>
      	<%= t('tag') %>:
      </strong> 
      <% @len = blog_entry.tags.count%>
      <% @count = 0 %>
      <% blog_entry.tags.each do |tag| %>
       	<% @count +=1 %>
        <%if @count != @len%>
       		<%= link_to tag.name + ', ', blog_index_by_tag_path(tag.slug) %>
       	<%else%>
       		<%= link_to tag.name, blog_index_by_tag_path(tag.slug) %>
       	<%end%>
      <% end %><div class="readMore">
        <%= link_to t('continueReading'), blog_entry_path(blog_entry.slug) %>
      </div>
      <div class="postfooterSombra">
        <span class="first"> </span>
        <span class="second"> </span>
        <span class="third"> </span>
      </div>
    </div>

    <% end %>
  
<%count = @blog_entries.count %>
<% if count > @blog_entries_per_page%>
  <%if params[:page] == '1' or !params[:page]%>
    <%p 'zzzzklndkjsbfdsçbfjdsbjfhbjdsb'%>
    <%= will_paginate @blog_entries, {:inner_window => 2, :outer_window => 0, :previous_label =>'<img alt="Icon-comment-blocked-previous" src="/assets/icons/icon-comment-blocked-previous.png"/>',:next_label =>'<img alt="Icon-comment-next" src="/assets/icons/icon-comment-next.png"/>'}%>
  <% end %>
  <% if params[:page].to_i > 1 and (params[:page].to_i * @blog_entries_per_page) <= count %>
    <%= will_paginate @blog_entries, {:inner_window => 2, :outer_window => 0, :previous_label =>'<img alt="Icon-comment-previous" src="/assets/icons/icon-comment-previous.png"/>',:next_label =>'<img alt="Icon-comment-next" src="/assets/icons/icon-comment-next.png"/>'}%>
  <% end %>
  <%if params[:page].to_i > 1 and (params[:page].to_i * @blog_entries_per_page) > count%>
    <%= will_paginate @templates, {:inner_window => 2, :outer_window => 0, :previous_label =>'<img alt="Icon-comment-previous" src="/assets/icons/icon-comment-previous.png"/>',:next_label =>'<img alt="Icon-comment-blocked-next" src="/assets/icons/icon-comment-blocked-next.png"/>'}%>
  <% end %>
<% end %>
</div>
<%= render 'menu' %>






