<div class="blockSpace"></div>
  
<div class="post">
  <div class="postHeader">
    <h1><%= @blog_entry.title %></h1>
    <strong><%= t('category') %>:</strong>
     <%= link_to @blog_entry.blog_category.name, blog_index_by_category_path(@blog_entry.blog_category.slug) %>  |  
     <span class="comments">
     	<%=  @comments_count %> 
     	<%-if @comments_count != 0 %>
     		<%=link_to t('comments'), '#comments', :id => "link_to_comments" %>
     	<%-else%>
     		<%= t('comments') %>
     	<%end%>
     </span>
    <hr class="blogMinihrUp" />
    <hr class="blogMinihrDown" />
  </div>
  <div class="postContent hyphenate">
    <%= @blog_entry.html.html_safe %>
  </div>
  <div class="postfooter">
    <strong>
    	<%= t('date') %>:
    </strong> 
    <%= @blog_entry.created_at.strftime('%b %d, %Y') %> | 
    <strong>
    	<%= t('tag') %>:
    </strong>
    <% @blog_entry.tags.each do |tag| %> 
    	<% @count +=1 %>
        <%if @count != @len%>
       	  <%= link_to tag.name + ', ', blog_index_by_tag_path(tag.slug) %>
       	<%else%>
          <%= link_to tag.name, blog_index_by_tag_path(tag.slug) %>
       	<%end%>
    <% end %>
    <div class="postfooterSombra">
      <span class="first"> </span>
      <span class="second"> </span>
      <span class="third"> </span>
    </div>
  </div>
  
  <%= render 'blog_comments/form' %>
  <%= render 'blog_comments/comments_excerpt' %>
    
</div>
<%= render 'menu' %>  