#template_examples_content
  .peliculeBox
    %h1
      = t(@template.key + '-title')
      
    - if @website_name == "Google+"
      .peliculeGplus  
        = image_tag "/assets/peliculas/Google_plus_big_" + @locale.to_s + ".png", :size => "985x406"
      .exampleGplus
        = image_tag "/templates/" + @template.key + "/"+ @example.main, :size => "900x262"
    - elsif @website_name == "Facebook"
      .peliculeFb  
        = image_tag "/assets/peliculas/Facebook_big_" + @locale + ".png", :size => "895x406"
      .exampleFb
        = image_tag "/templates/" + @template.key + "/"+ @example.main, :size => "834x358"


  -if @offset != 0
    = link_to t('previous_example'), template_examples_path(:offset => @offset - 1 , :slug => @slug), :remote => true, :id=>'request_previous_template_example', :class => 'previous'

  -if @offset != (@total_examples-1)
    = link_to t('next_example'), template_examples_path(:offset => @offset +1 , :slug => @slug), :remote => true, :id=>'request_next_template_example', :class => 'next'