%h1= t('team')
%br
%p
  Social networking are at its peak!
%p
  Hence arose the idea of ​​Social Cover Maker, which aims to streamline the look of your personal page of Google+ that increasingly became monotonous.
 
%p
  The Social Cover Maker was developed on a personal basis by three IT engineers, trained at the University of Minho, Portugal, leading to a final result of high quality and professionalism.

= image_tag '/team/Team_social_cover_maker.jpg'
%p
%p
  Come to know us better!
%p
  Please, feel free to send us a message!

%ul{:id => 'aboutus'}
  %li
    .personalInfo
      .name
        Cláudio Novais
      .location
        Braga, Portugal
      .email
        claudio.novais@socialcovermaker.com
      .iconSet
        = link_to image_tag('/assets/icons/social-about_me.png', :size => '20x20'), 'http://about.me/claudionovais'
        = link_to image_tag('/assets/icons/social-google.png', :size => '20x20'), 'https://plus.google.com/u/0/110309413233124076312/posts'
        = link_to image_tag('/assets/icons/social-linkedin_alt.png', :size => '20x20'), 'https://www.linkedin.com/in/claudiocnovais'
        = link_to image_tag('/assets/icons/social-twitter_alt.png', :size => '20x20'), 'http://twitter.com/ubuntued'
    .avatar
      = image_tag '/team/claudio.jpg', :size => '200x160'

  %li
    .personalInfo
      .name
        Daniel Oliveira
      .location
        Braga, Portugal
      .email
        daniel.oliveira@socialcovermaker.com
      .iconSet
        = link_to image_tag('/assets/icons/social-about_me.png', :size => '20x20'), 'http://about.me/danieloliveira'
        = link_to image_tag('/assets/icons/social-google.png', :size => '20x20'), 'https://plus.google.com/u/0/113555080054484269599/posts'
        = link_to image_tag('/assets/icons/social-linkedin_alt.png', :size => '20x20'), 'http://pt.linkedin.com/in/danieloliveiralei'
        = link_to image_tag('/assets/icons/social-twitter_alt.png', :size => '20x20'), 'https://twitter.com/Danyy_top'
    .avatar
      = image_tag '/team/daniel.jpg', :size => '200x160'
  %li
    .personalInfo
      .name
        Pedro Silva
      .location
        Braga, Portugal
      .email
        pedro.silva@socialcovermaker.com    
      .iconSet
        = link_to image_tag('/assets/icons/social-about_me.png', :size => '20x20'), 'http://about.me/psilva'
        = link_to image_tag('/assets/icons/social-google.png', :size => '20x20'), 'https://plus.google.com/u/0/115799770804678331466/posts'
        = link_to image_tag('/assets/icons/social-linkedin_alt.png', :size => '20x20'), 'http://pt.linkedin.com/in/jpcsilva'
        = link_to image_tag('/assets/icons/social-twitter_alt.png', :size => '20x20'), 'http://twitter.com/pedro_csilva'

    .avatar
      = image_tag '/team/pedro.jpg', :size => '200x160'