%h1= t('about')
%br
Melhore o seu perfil, impressione os seus amigos!
%br
%br
Social Cover Maker é um site dedicado  à personalização do perfil das sua redes sociais preferidas, Facebook e Google+. Trata-se de um site prático e de fácil utilização, que  lhe permite obter as melhores imagens para usar no seu cover e/ou no seu perfil.
%br
%br
Através do Social Cover Maker tem a possibilidade de criar as conjugações de imagens mais impressionantes que pode imaginar dando uma nova aparência à sua página pessoal. 
%br
%br
Navegue pelos vários temas e escolha o que mais se adequa a si. Os temas disponibilizados estão organizados por categorias de forma a encontrar facilmente o perfil ideal para si.
%br
%br
Experimente e partilhe! ;)