%h1= t('about')
%br
Improve your profile and surprise your friends!
%br
%br
Social Cover Maker is a website dedicated to customize
the profile of your favourite social networks, Facebook and Google+. 
This is a handy site and easy to use, allowing you to get
the best images to use on your cover and/or your profile. 
%br
%br
The Social Cover Maker is able to create the most impressive
combinations of images you can imagine, giving a new look to your personal page.
%br
%br
Browse the various topics and choose the one that most suits you. 
The themes available are organized into categories in order to easily find the ideal profile for you.
%br
%br
Try and share! ;)