<div id="ie-no-more-container">
  <h2><%=t('read_this')%></h2>
  <p>
    <%=t('upgrade_browser_1')%>
  </p>
  <p>
    <%=t('upgrade_browser_2')%>
  </p>
  <ul>
    <li><a href="www.google.com/chrome"><%=t('switch_chrome')%></a></li>
    <li><a href="http://www.apple.com/safari"><%=t('switch_safari')%></a></li>
    <li><a href="http://www.mozilla.com/en-US/firefox/ie.html"><%=t('switch_firefox')%></a></li>
    <li><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx"><%=t('upgrade_ie')%></a></li>
  </ul>
  <div id="ie-no-more-close-button">
    <a href="#">Close</a>
  </div>
</div>