#staticCol
  %ul
    -if !@is_contact_section and !@is_about_us_section
      .active
        %li
          = link_to t('about'), about_path
    -else
      %li
        = link_to t('about'), about_path
    -if @is_about_us_section
      .active    
        %li 
          = link_to t('team'), about_us_path
    -else
      %li 
        = link_to t('team'), about_us_path
    -if @is_contact_section
      .active
        %li
          = link_to t('contact'), contact_path
    -else
      %li
        = link_to t('contact'), contact_path   