%h1= t('privacy_policy')
%br
A privacidade dos visitantes do site www.socialcovermaker.com é de extrema importância para nós.
%br
%br
De seguida deixamos-lhe o tipo de informação pessoal que recebemos e guardamos quando visita o 
nosso site, assim como as medidas que tomamos de forma aos seus dados ficarem seguros.
%br
%br
%b Que tipo de informação guardamos?
%br
Tal como a maioria dos Web sites, www.socialcovermaker.com utiliza ficheiros de log. A informação 
guardada nestes ficheiros inclui o endereço IP (internet protocol), o tipo de browser, o serviço 
de internet utilizado, data e hora, assim como o número de clicks para analisar tendências e outros
aspetos estatísticos. O endereço IP e outras informações não estão vinculadas a qualquer informação 
pessoal.
%br
%br
Quando faz um comentário é guardada a sua informação pessoal, do mesmo modo quando faz a submissão de uma imagem. 
%br
%br
Você tem a possibilidade de submeter uma imagem do seu perfil de rede social como exemplo dos nossos
temas, podendo essas imagens ser armazenadas no nosso servidor por tempo indeterminado e apresentadas
no nosso site.
%br
%br
Nós não nos responsabilizamos pelo conteúdo das imagens submetidas pelos nossos utilizadores, 
devendo qualquer problema ser dirigido para o nosso email de contato. 
%br
%br
Qualquer comentário feito tem todos os direitos reservados para este site. Deste modo temos o direito
de corrigir erros ortográficos, eliminar links assim como editá-los, ou apagar todos os comentários 
que sejam difamatórios.
%br
%br
Tal como as suas imagens, as suas informações pessoais nunca serão disponibilizadas nem vendidas a ninguém.
%br
%br
%b Em que é que se utiliza a sua informação?
%br
Toda a informação que recebemos de si é usada num dos seguintes processos:
%br
1. A melhorar a experiência de utilização do nosso site.
%br
2. No processamento de transações quando é requisitado um serviço.
%br
%br
%b Como protegemos a sua informação?
%br
Nós implementamos um conjunto de medidas de forma a manter os seus dados seguros. Para além dessas medidas, 
disponibilizamos os nossos serviços através de um servidor seguro. Os nossos sistemas de computação têm acesso 
restrito, sendo acedidos apenas por pessoas ou organizações necessárias ao seu correto funcionamento.
%br
%br
Depois de cada transação, apenas guardamos as suas imagens durante 30 minutos.
%br
%br
%b Cookies e Web Beacons
%br
Utilizamos cookies para armazenar informação, tais como as suas preferências pessoais 
quando visita o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários 
serviços que providenciamos, tais como reconhecer o seu nome quando comenta nos nossos artigos.
%br
%br
Em adição também utilizamos publicidade de terceiros no nosso site www.socialcovermaker.com para 
suportar os custos de manutenção. Alguns destes publicitários, poderão utilizar tecnologias como os 
cookies e/ou web beacons quando publicitam no nosso website, o que fará com que esses publicitários 
(como o Google através do Google AdSense) também recebam a sua informação pessoal, como o endereço IP, 
o seu ISP , o seu browser, etc. Esta função é geralmente utilizada para geotargeting (mostrar publicidade de
Lisboa apenas aos leitores oriundos de Lisboa por ex.) ou apresentar publicidade direccionada a um 
tipo de utilizador (como mostrar publicidade de restaurante a um utilizador que visita sites de 
culinária regularmente, por ex.).
%br
%br
Você detém o poder de desligar os seus cookies, nas opções do seu browser. No entanto, 
isso poderá alterar a forma como interage com o nosso website, ou outros websites. Isso poderá 
impedir ou não que faça login em determinados sites.