%h1= t('privacy_policy')
%br
At www.socialcovermaker.com, the privacy of our visitors is of extreme importance to us. 
This privacy policy document outlines the types of personal information is received and collected 
by www.socialcovermaker.com and how it is used. 
%br
%br
  %b What information do we collect?
Like many other Web sites, www.socialcovermaker.com makes use of log files. The information inside 
the log files includes internet protocol (IP) addresses, type of browser, Internet Service Provider
(ISP), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer 
the site, track user’s movement around the site, and gather demographic information. IP addresses,
and other such information are not linked to any information that is personally identifiable. 

%br
%br
We also retrieve information when you place a comment (name, email) or submit an image.
%br
%br
You also can submit an image of your social network profile as example of our themes, that could be
stored in our servers for indeterminable time and showed in our site.
%br
%br
We don’t accept any responsability of the content of the images submited by our users, so any problem
would be redirect to our contact.
%br
%br
Any comments posted have all rights reserved by this site. Including the right to edit out your typos,
clean up your links, and even to edit, or delete entire comments that are inflammatory or moronic and 
do not amuse the overlords of this website.
%br
%br
%b Your email address will never be given to anyone else since as your images. 
%br
%br
%b What do we use your information for?
%br Any of the information we collect from you may be used in one of the following ways:
1. To improve customer servisse (your information helps us to more effectively respond to 
your customer service requests and support needs).
%br
2. To process transactions.
%br
%br
%b How do we protect your information?
%br 
We implement a variety of security measures to maintain the safety of your personal
information when you enter or submit your personal information. We offer the use of a secure server.
Computer systems have restricted access limited only to those persons and organizations necessary to 
its proper functioning. 
%br
%br
After a transaction your images not be kept on file for more than 30 minutes.
%br
%br
%b Cookies and Web Beacons 
%br
www.socialcovermaker.com does use cookies to store information about visitors preferences, 
record user-specific information on which pages the user access or visit, customize Web page 
content based on visitors browser type or other information that the visitor sends via their browser. 
%br
%br
Google, as a third party vendor, uses cookies to serve ads on www.socialcovermaker.com.
Google's use of the DART cookie enables it to serve ads to users based on their visit to 
www.socialcovermaker.com and other sites on the Internet. 
Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy 
policy at the following URL - http://www.google.com/privacy_ads.html 
%br
%br
Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include
Google Adsense.
%br
%br
These third-party ad servers or ad networks use technology to the advertisements and links that appear on 
www.socialcovermaker.com send directly to your browsers. They automatically receive your IP address 
when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used
by the third-party ad networks to measure the effectiveness of their advertisements and / or to 
personalize the advertising content that you see. 
%br
%br
www.socialcovermaker.com has no access to or control over these cookies that are used by third-party advertisers. 
%br
%br
You should consult the respective privacy policies of these third-party ad servers for more detailed 
information on their practices as well as for instructions about how to opt-out of certain practices.
www.socialcovermaker.com's privacy policy does not apply to, and we cannot control the activities of 
such other advertisers or web sites.
%br
%br
If you wish to disable cookies, you may do so through your individual browser options. More detailed information 
about cookie management with specific web browsers can be found at the browsers' respective websites.  
%br
%br
If you require any more information or have any questions about our privacy policy, please feel free to contact us
by email at danyy_top@hotmail.com. 