%h2{ :id => "home-page-table-title" }
  Experimente o Social Cover Maker!
%p
  O Social Cover Maker é uma maneira fácil e rápida de aprimorar o seu perfil do Facebook ou Google+ com as melhores combinações de imagens, deixando a sua página com um novo aspeto, com uma nova vida.
%p
  Com apenas 4 passos pode obter esses efeitos:
%ol
  %li Escolher um tema;
  %li Enviar e editar as suas fotos;
  %li Guardar as fotos geradas pelo nosso serviço;
  %li Enviar as fotos geradas para o seu perfil.
%p
  Veja o video de introdução, comece agora a usar o Social Cover Maker e partilhe com os seus amigos!