%h2{ :id => "home-page-table-title" }
  Try the Social Cover Maker!
%p
  Social Cover Maker is an easy and fast way to improve your Facebook or Google+ profile with the best images combinations, giving a new look to your personal page.
%p
  With only 4 steps, you can achieve the new look:
%ol
  %li Choose a theme;
  %li Send the photos and edit them;
  %li Save generated images on your pc;
  %li Upload them to your profile.
%p 
  See the introduction video, start using Social Cover Maker and share with your friends!