.faq_container#faq_top
  
  %h1 
    Frequently Asked Questions  

  .faq_questions  
    %ul
      %li
        - imagenotaccepted_q = 'One of my images is being rejected by Social Cover Maker. Why?'
        = link_to imagenotaccepted_q, '#imagenotaccepted_answer', :id => 'imagenotaccepted', :class => 'faqLink'
      %li
        - resize_q = 'My images are bigger (file size, not image dimension) than the maximum file size accepted by Social Cover Maker. How can i resize, reducing their size? (on Windows, Mac OS X, Ubuntu)?'
        = link_to resize_q, '#resize_answer', :id => 'resize', :class => 'faqLink'
      %li
        - uploadscm_q = 'How do i upload images to Social Cover Maker?'
        = link_to uploadscm_q, '#uploadscm_answer', :id => 'uploadscm', :class => 'faqLink'
      %li 
        - editoptions_q = 'How can i edit images after uploading them to Social Cover Maker?'
        = link_to editoptions_q, '#editoptions_answer', :id => 'editoptions', :class => 'faqLink'
      %li
        - uploadgplus_q = 'How can i upload the generated images to Google+?'
        = link_to uploadgplus_q, '#uploadgplus_answer', :id => 'uploadgplus', :class => 'faqLink'
        %li
          - reposition_q = 'Do i have to reposition the images after i upload them to Google+?'
          = link_to reposition_q, '#reposition_answer', :id => 'reposition', :class => 'faqLink'
      %li
        - imagerights_q = 'What happens to my images after uploading them to Social Cover Maker?'
        = link_to imagerights_q, '#imagerights_answer', :id => 'imagerights', :class => 'faqLink'
      %li
        - imagereutilization_q = 'Why can\'t i reuse the pictures i sent to Social Cover Maker, after opening other page?'
        = link_to imagereutilization_q, '#imagereutilization_answer', :id => 'imagereutilization', :class => 'faqLink'
      %li
        - wantothertemplate_q = 'The theme that i would like to apply to my images does not exist. What can i do?'
        = link_to wantothertemplate_q, '#wantothertemplate_answer', :id => 'wantothertemplate', :class => 'faqLink'
        
    %br
    %br
    %br
    
    
  .faq_questions_answers_container  
      
    #imagenotaccepted_answer.question_answer
      %h3
        =imagenotaccepted_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer
        %p
          At this moment, Social Cover Maker only accepts images on the following formats: 'JPG', 'JPEG' and 'PNG'; and images which size is lower or equal to 5 MB (MegaBytes). On this FAQ you can find help on how to change the format of your images, and how to reduce their size.
      
      
    #resize_answer.question_answer
      %h3
        = resize_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer
        %p
          We'll explain shorlty how to reduce image size on three of the most common operating systems:
        %h4
          Mac OS X (10.6 or later):
        %ol
          %li Right click on the image you want to resize;
          %li Select "Open with" and click on "Preview";
          %li Go to the top menu bar, and click on "Tools". Then click on "Adjust Size...";
          %li On the newly opened window, reduce the width/height of the image, until "Resulting Size" of the image, present on the bottom of this window, is lower or equal than 5MB;
          %li Press "Ok";
          %li Go back to the top menu bar, and click "File", then "Save As..." and save the file with a different name (so you won't lose the original image);
        %p
          If you still have doubts, check this tutorial on
          = succeed "," do
            = link_to "youtube", "http://youtu.be/HI-RFRnaXG4"
          or you can refer to the Apple's support page about 
          = succeed "." do
            = link_to "Preview", "http://support.apple.com/kb/HT2506?viewlocale=en_US"
        
        %h4
          Windows (Vista ou later):
        %ol
          %li Open Paint;
          %li Open the image you want to resize;
          %li On the tools that belong to the images group, click on "Resize";
          %li Reduce the Horizontal (width) or Vertical (height) value; 
          %li Click "Ok";
          %li Go back to the file menu, and click "Save As..." and save the file with a different name (so you won't lose the original image);
          %li Verify if the size is already lower or equal to 5MB.
        %p
          If you still have doubts, check this tutorial on
          = succeed "," do
            = link_to "youtube", "http://youtu.be/kETJzpEJeH4"
          or refer to the Windows support page on how to
          = succeed "." do
            = link_to 'resize a picture using Paint', 'http://windows.microsoft.com/en-GB/windows7/Resize-a-picture-using-Paint'
        %h4
          Ubuntu:
        %ol
          %li Open GIMP;
          %li Open the image you want to resize;
          %li On the top menu bar, select "Image", then click on "Scale Image...";
          %li Reduce the width/height of the image; 
          %li Click on "Scale" to apply;
          %li Go back to the top menu bar, and click "File", then "Save As..." and save the file with a different name (so you won't lose the original image);
          %li Verify if the size of the new image is already lower or equal to 5MB.
        %p
          If you still have doubts, check this tutorial on
          = succeed "." do
            = link_to "youtube", "http://youtu.be/2mpk-0eUhrk"
        
    #uploadscm_answer.question_answer
      %h3
        = uploadscm_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer
        %p
          On the
          = link_to "features", features_path
          page there are informations on how you can upload your images to our service, as well as an explaining video.
             
             
                
    #editoptions_answer.question_answer
      %h3
        = editoptions_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer
        %p
          After uploading an image, the edit button, next to the uploaded image preview, becomes active. If you press it, the edition window will open.
        %p
          Our service offers two ways of editing images, depending on the theme and the position of the images on the theme. On the most common way of editing the images, you have the possibility of selecting just a part of the image. You can move the current selection area, and you can increase/decrease the size of the selection area, by dragging it's corners. The image aspect ration is always the same and is immutable.
        .faq_crop_examples_container  
          .faq_crop_example  
            = image_tag 'faq/crop_ex1.png', :size => '200x180'
          .faq_crop_example
            = image_tag 'faq/crop_ex2.png', :size => '200x180'
          .faq_crop_example  
            = image_tag 'faq/crop_ex3.png', :size => '200x180'
        %p
          The second way of editing images (addressed in one of the explaining videos of the    
          = succeed ")" do
            = link_to 'features', features_path
          page, is normally used on the themes where from one image, the service generates both the cover and profile photos. On this type of edit, you can zoom in or out on the image using the buttons on the bottom right corner ('+' and '-'). You can also move the image by clicking on it and dragging around, if the resolution of the image allows it.
        .faq_crop_examples_container  
          .faq_crop_example_jwindow 
            = image_tag 'faq/crop2_ex1.png', :size => '300x120'
          .faq_crop_example_jwindow  
            = image_tag 'faq/crop2_ex3.png', :size => '300x120'
      


    #uploadgplus_answer.question_answer
      %h3
        = uploadgplus_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer
        %p
          On the
          = link_to "features", features_path
          page there is a video that explains the whole process. In the event of not being thorough enough, following, a more detailed explanation is given.
        %p
          After generating your new cover or profile, it is time to upload them to Google+. To send a profile photo you have to:
        %ol
          %li Login on your Google+ profile;
          %li Hover the mouse on your profile photo and click on "Change profile photo";
          %li Select the profile photo generated by our service;    
          %li A new window will be opened, where you can edit your photo. It is very important that you do nothing in this window, and just click on "Set as profile photo";
      
        %p  
          To send your cover photo:
          %ol
            %li Login on your Google+ profile;
            %li Hover the mouse on your cover photo and click on "Change cover photo";
            %li  Select the cover photo generated by our service;
        
        
    #reposition_answer.question_answer
      %h3
        = reposition_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer
        %p
          After uploading photos to Google+ generated by our service you can not reposition/rotate/cut the images, because you will be destroying the effect intended by the use of the theme. Just accept the default position and selection after you upload it.
      
      
      
    #imagerights_answer.question_answer
      %h3
        = imagerights_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer
        %p
          All the images that you send to our service, as well as the ones that are generated from them, are eliminated from our server after 30 minutes. For more information refer to our
          = succeed " page." do
            =link_to "Privacy Police", privacy_policy_path
        
      
      
      
    #imagereutilization_answer.question_answer
      %h3
        = imagereutilization_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer  
        %p
          While the images you sent are still available on our server, it would be normal for you to reuse them. This functionality is not yet available, but will be on a later version of our service.  
      
      
      
    #wantothertemplate_answer.question_answer
      %h3
        = wantothertemplate_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "top")), "#", :class => "link_to_faq_top"
      .answer  
        %p
          If you thought of any theme that you would like us to add to the ones available at the moment, please
          = succeed ", explaining your idea!" do
            = link_to 'contact us', contact_path
