.faq_container#faq_top

  %h1 
    Frequently Asked Questions  

  .faq_questions  
    %ul
      %li
        - imagenotaccepted_q = 'Uma das minhas imagens não é aceite pelo Social Cover Maker. Porquê?'
        = link_to imagenotaccepted_q, '#imagenotaccepted_answer', :id => 'imagenotaccepted', :class => 'faqLink'
      %li
        - resize_q = 'As minhas imagens são maiores (tamanho do ficheiro) do que o Social Cover Maker me permite enviar. Como faço para reduzir o tamanho das minhas imagens (em Windows, Mac OS X, Ubuntu)?'
        = link_to resize_q, '#resize_answer', :id => 'resize', :class => 'faqLink'
      %li
        - uploadscm_q = 'Como faço upload de imagens para serem tratadas pelo Social Cover Maker?'
        = link_to uploadscm_q, '#uploadscm_answer', :id => 'uploadscm', :class => 'faqLink'
      %li 
        - editoptions_q = 'Como posso editar as imagens depois de fazer upload?'
        = link_to editoptions_q, '#editoptions_answer', :id => 'editoptions', :class => 'faqLink'
      %li
        - uploadgplus_q = 'Como faço upload das imagens geradas para o Google+?'
        = link_to uploadgplus_q, '#uploadgplus_answer', :id => 'uploadgplus', :class => 'faqLink'
        %li
          - reposition_q = 'Preciso de posicionar as imagens depois de fazer upload para o Google+?'
          = link_to reposition_q, '#reposition_answer', :id => 'reposition', :class => 'faqLink'
      %li
        - imagerights_q = 'O que acontece às minhas imagens depois de fazer upload para o SCM?'
        = link_to imagerights_q, '#imagerights_answer', :id => 'imagerights', :class => 'faqLink'
      %li
        - imagereutilization_q = 'Porque não posso reutilizar as imagens que enviei para o SCM, depois de mudar de página?'
        = link_to imagereutilization_q, '#imagereutilization_answer', :id => 'imagereutilization', :class => 'faqLink'
      %li
        - wantothertemplate_q = 'O tema que eu gostava de aplicar às minhas fotos não existe. O que posso fazer?'
        = link_to wantothertemplate_q, '#wantothertemplate_answer', :id => 'wantothertemplate', :class => 'faqLink'
        
    %br
    %br
    %br
    
    
  .faq_questions_answers_container  
      
    #imagenotaccepted_answer.question_answer
      %h3
        =imagenotaccepted_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer
        %p
          Neste momento o Social Cover Maker apenas aceita imagens nos seguintes formatos: 'JPG', 'JPEG' e 'PNG'; e imagens que ocupem 5 MB (MegaBytes) ou menos. Ainda nesta FAQ pode encontrar ajuda para alterar o formato das suas imagens e para reduzir o tamanho das mesmas.  
      
      
    #resize_answer.question_answer
      %h3
        = resize_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer
        %p
          Vamos explicar sucintamente como pode reduzir o tamanho das suas imagens em três dos sistemas operativos mais comuns:
        %h4   
          Mac OS X (10.6 ou posterior):
        %ol
          %li Clicar com o botão direito do rato em cima da imagem que pretende redimensionar;
          %li Seleccione "Abrir Com" e depois clique em "Pré-Visualização";
          %li Vá até à barra de menu, no topo do ecrã, e clique em "Ferramentas" e depois em "Ajustar Tamanho...";
          %li Na nova janela, diminua a altura/largura da imagem, até ao "Tamanho Resultante" da imagem, apresentado no fundo dessa janela, ser inferior a 5MB;
          %li Volte à barra de menu, no topo do ecrã, clique em "Ficheiro" e depois em "Guardar como...", e guarde a imagem com outro nome (de modo a não perder a imagem original);
        %p
          Se continuar com dúvidas, pode consultar este tutorial no 
          = succeed "," do
            = link_to "youtube", "http://youtu.be/OMMnT8MWvms"
          ou consultar a página de suporte da Apple sobre a aplicação
          = succeed "." do
            = link_to "Pré-visualização", "http://support.apple.com/kb/HT2506?viewlocale=pt_BR"
        %h4
          Windows (Vista ou posterior):
        %ol
          %li Abrir o Paint;
          %li Abrir a imagem que pretende redimensionar;
          %li Nas ferramentas pertencentes ao grupo das imagens, clique em "Redimensionar";
          %li Diminua o valor Horizontal (largura) ou Vertical (altura); 
          %li Guarde a imagem com outro nome (de modo a não perder a imagem original);
          %li Verifique se já tem menos de 5MB.
        %p
          Se continuar com dúvidas, pode consultar este tutorial no 
          = link_to "youtube", "http://youtu.be/c_VLaTWcKG0"
          , ou consultar a página de suporte do Windows sobre como 
          = succeed "." do
            = link_to "redimensionar uma imagem usando o Paint", "http://windows.microsoft.com/pt-BR/windows7/Resize-a-picture-using-Paint"
        %h4
          Ubuntu:
        %ol
          %li Abrir o GIMP;
          %li Já no GIMP, abrir a imagem que pretende redimensionar;
          %li Na barra de menu superior, seleccionar "Imagem" e depois clicar em "Escalar Imagem...";
          %li Editar a altura/largura da imagem; 
          %li Clicar em Escala para aplicar as alterações;
          %li Voltar à barra de menu, clicar em "Ficheiro" e depois em "Guardar como...", e guardar a imagem com outro nome (de modo a não perder a imagem original);
          %li Verificar se o tamanho da imagem já é inferior a 5MB.
        %p
          Se continuar com dúvidas, pode consultar este tutorial no 
          = succeed "." do
            = link_to "youtube", "http://youtu.be/GsC-G3kAZsY"
        
    #uploadscm_answer.question_answer
      %h3
        = uploadscm_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer
        %p
          Na página das
          = link_to "funcionalidades", features_path
          tem informações sobre como fazer upload das imagens para o nosso serviço, assim como um vídeo explicativo.
             
             
                
    #editoptions_answer.question_answer
      %h3
        = editoptions_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer
        %p
          Depois de fazer upload de uma imagem, o botão editar, junto à pré-visualização da imagem enviada, passa a estar disponível. Se clicar nesse botão, a janela de edição será aberta.
        %p
          O nosso serviço disponibiliza duas forma de edição de imagem, consoante o tema e a posição das imagem no tema. Na forma mais comum de edição, tem a possibilidade de seleccionar apenas uma parte da imagem. Pode mover toda a selecção, ou pode aumentar/diminuir o tamanho da selecção arrastando um dos extremos da mesma. A proporção da imagem, ou seja, a relação entre a largura e a altura da imagem é constante e imutável.
        .faq_crop_examples_container  
          .faq_crop_example  
            = image_tag 'faq/crop_ex1.png', :size => '200x180'
          .faq_crop_example
            = image_tag 'faq/crop_ex2.png', :size => '200x180'
          .faq_crop_example  
            = image_tag 'faq/crop_ex3.png', :size => '200x180'
        %p
          A segunda forma de edição de imagens (abordada no video explicativo presente na página
          = succeed ")," do
            = link_to 'funcionalidades', features_path
          normalmente é usada nos temas em que a partir de uma foto são geradas ambas as fotografias de capa e de perfil. Neste tipo de edição, pode aproximar ou afastar a imagem utilizando os botões no canto inferior direito ('+' e '-'). Pode também mover a imagem, clicando nela e arrastando, caso a resolução da mesma seja suficiente.
        .faq_crop_examples_container  
          .faq_crop_example_jwindow 
            = image_tag 'faq/crop2_ex1.png', :size => '300x120'
          .faq_crop_example_jwindow  
            = image_tag 'faq/crop2_ex3.png', :size => '300x120'
      


    #uploadgplus_answer.question_answer
      %h3
        = uploadgplus_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer
        %p
          Na página das
          = link_to "funcionalidades", features_path
          existe um vídeo com a explicação de todo o processo. Para o caso de não ser suficiente, em seguida é apresentada uma explicação mais pormenorizada.
        %p
          Depois de gerado a sua nova capa ou perfil, chegou a altura de a enviar para o Google+. Para enviar a sua foto de perfil tem de:
        %ol
          %li Fazer login no seu perfil do Google+;
          %li Passar o rato por cima da sua foto de perfil, e clicar em cima do link "Alterar fotografia do perfil";
          %li Seleccionar a fotografia de perfil gerada, e clicar no botão "Definir como fotografia do perfil";
          %li Vai aparecer uma nova janela, onde pode editar a sua foto. É muito importante que não altere a pré-selecção, e apenas clique em "Definir como fotografia do perfil".
      
        %p  
          Para enviar a sua foto de capa tem de:
        %ol
          %li Fazer login no seu perfil do Google+;
          %li Passar o rato por cima da sua foto de capa, e clicar em cima do link "Alterar fotografia de capa";
          %li Seleccionar a fotografia de capa gerada pelo nosso serviço;
        
        
    #reposition_answer.question_answer
      %h3
        = reposition_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer
        %p
          Depois de fazer upload das fotos geradas pelo nosso serviço para o Google+, não PODE reposicionar/rodar/cortar as imagens, porque ao fazê-lo, estará a estragar o efeito que se pretendia atingir com o tema.
      
      
      
      
    #imagerights_answer.question_answer
      %h3
        = imagerights_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer
        %p
          Todas as imagens que envia para o nosso serviço, assim como as que são geradas a partir delas, são eliminadas do nosso servidor no prazo de 30 minutos. Para mais informações consulte a nossa página de 
          = succeed "." do
            =link_to "Política de Privacidade", privacy_policy_path
      
      
      
      
    #imagereutilization_answer.question_answer
      %h3
        = imagereutilization_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer  
        %p
          Enquanto as imagens que enviou para o nosso servidor estiverem disponíveis, faz todo o sentido que possa voltar a utilizá-las, sem ter de as enviar novamente. Esta funcionalidade estará presente numa próxima versão do nosso serviço.
      
      
      
      
      
    #wantothertemplate_answer.question_answer
      %h3
        = wantothertemplate_q
        =link_to (image_tag("icons/icon_back_top.png", :alt => "topo")), "#", :class => "link_to_faq_top"
      .answer  
        %p
          Se pensou em algum tema que gostaria que nós disponibilizássemos, por favor
          = succeed ", explicando a sua ideia!" do
            = link_to 'contacte-nos', contact_path
      