
%table{:border => 0, :width => "100%" , :class=>"featurest"}
  %tr
    %td{:width => "20%", :valign =>"top", :class=>"column"}
      .image
        = image_tag  '/features/feat1.png'
      %h2 
        =t('feature_choose_theme')
      #helper_topics  
        %ul.topiclist
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed 
              = t('feature_choose_theme_topic1')
            .non-displayed
              =raw t('feature_choose_theme_topic1_desc', :language => I18n.locale)
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed
              = t('feature_choose_theme_topic2')
            .non-displayed    
              = raw t('feature_choose_theme_topic2_desc', :language => I18n.locale)
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed
              = t('feature_choose_theme_topic3')
            .non-displayed
              = raw t('feature_choose_theme_topic3_desc', :language => I18n.locale)
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed    
              = t('feature_choose_theme_topic4')
            .non-displayed
              = raw t('feature_choose_theme_topic4_desc', :language => I18n.locale)
      %div{:class => 'image youtube', :locale => "#{I18n.locale}", :link => "http://www.youtube.com/v/0Xt86xt7lCo?version=3&hl=en_US&rel=0&autoplay=1" }
        %div{:class => 'video1'}
    %td{:width => "20%", :valign =>"top", :class=>"column"}
      .image
        = image_tag  '/features/feat2.png'
      %h2 
        = t('feature_upload')
      #helper_topics  
        %ul.topiclist
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed    
              = t('feature_upload_topic1')
            .non-displayed
              = t('feature_upload_topic1_desc')
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed    
              = t('feature_upload_topic2')
            .non-displayed
              = t('feature_upload_topic2_desc')
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'  
            .displayed
              = t('feature_upload_topic3')
            .non-displayed
              = t('feature_upload_topic3_desc')
      %div{:class => 'image youtube', :locale => "#{I18n.locale}", :link => "http://www.youtube.com/v/aWBiYE17ThE?version=3&hl=en_US&rel=0&autoplay=1" }
        %div{:class => 'video2'}
    %td{:width => "20%", :valign =>"top", :class=>"column"}
      .image
        = image_tag  '/features/feat3.png'
      %h2 
        = t('feature_download')
      #helper_topics  
        %ul.topiclist
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed  
              = t('feature_download_topic1')
            .non-displayed
              = t('feature_download_topic1_desc')
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed
              = t('feature_download_topic2')
            .non-displayed
              = t('feature_download_topic2_desc')
      %div{:class => 'image youtube', :locale => "#{I18n.locale}", :link => "http://www.youtube.com/v/4pydXJ_5sSU?version=3&hl=en_US&rel=0&autoplay=1" }
        %div{:class => 'video3'}
    %td{:width => "20%", :valign =>"top", :class=>"column"}
      .image
        = image_tag  '/features/feat4.png'
      %h2 
        = t('feature_profile_upload')
      #helper_topics  
        %ul.topiclist
          %li.row
            .dropDownButton
              .button-img
                = image_tag 'icons/icon-arrowDown.png'
            .displayed
              = t('feature_profile_upload_topic1')
            .non-displayed
              = t('feature_profile_upload_topic1_desc')
      %div{:class => 'image youtube', :locale => "#{I18n.locale}", :link => "http://www.youtube.com/v/THAT-4Br1-0?version=3&hl=en_US&rel=0&autoplay=1" }
        %div{:class => 'video4'}


:javascript
  jQuery(document).on("click",".displayed, .dropDownButton", function() {
  
  $el = jQuery(this).parent().find(".non-displayed"); 
  
  if( $el.is(":visible") ){
    $el.slideToggle();
  }else{
    $(".non-displayed").hide("slow");
    $el.slideToggle();
  }
  
   
  
  return false;
  });

-##social_cover_maker_features
-#  = t('features_intro')
-#  %h2
-#    = t('feature_choose_theme')
-#  .image
-#    = image_tag  '/features/teste.jpeg', :size => '200x150'
-#  %h2
-#    = t('feature_upload')
-#  .image
-#    = image_tag  '/features/teste.jpeg', :size => '200x150'
-#  %h2
-#    = t('feature_crop')
-#  .image
-#    = image_tag  '/features/teste.jpeg', :size => '200x150'
-#  %h2
-#    = t('feature_submit')
-#  .image
-#    = image_tag  '/features/teste.jpeg', :size => '200x150'
-#  %h2
-#    = t('feature_download')
-#  .image
-#    = image_tag  '/features/teste.jpeg', :size => '200x150'
-#  %h2
-#    = t('feature_profile_upload')
-#  .image
-#    = image_tag  '/features/teste.jpeg', :size => '200x150'