
<div id = 'IENoMore'/>

<!--[if lt IE 9]>
	<script type="text/javascript">
 		//if($.browser.msie && ($.browser.version=="6.0" || $.browser.version=="7.0" || $.browser.version=="8.0")) 
			$('#IENoMore').html('<%= escape_javascript render 'home/ie_upgrade_message' %>'); 
	</script>
<![endif]-->

</div>


<div id="headspace"></div>
    <div id="slideshow">
      <div class="buttonNext" onClick="slideSwitch()"></div>
      <div class="buttonPrevious" onclick="slideSwitchPrevious()"></div>
      <%-@examples.each do |example|%>
        <% if example.template.website.name == "Facebook" %>
    	    <%= image_tag "/templates/" + example.template.key + "/"+ example.main, :website => example.template.website.name, :class => "fb_slideshow" %>
    	    <% else %>
    	      <%= image_tag "/templates/" + example.template.key + "/"+ example.main, :website => example.template.website.name %>  	
    	    <% end %>  
      <%end%>
    </div>

    <%= image_tag "peliculas/Google_plus_" + @locale + ".png", :alt => "Slideshow Image 1", :class => "pelicula", :id => 'gplus_slideshow_pelicule' %>
    <%= image_tag "peliculas/Facebook_" + @locale + ".png", :alt => "Slideshow Image 2", :class => "pelicula", :id => 'fb_slideshow_pelicule', :size => "850x280" %>

    <h2 id="slogan"><%=t('slogan')%></h2>
    <h3 id="pitch"><%=t('pitch')%></h3>
    
<div class="box-holder">
	<div class="center">
		<table border="0" cellpadding="0" style="margin-left: auto; margin-right: auto;">
			<tbody>
				<tr>
					<td align="center"><span id ="watch-video-button" class="list-button"><%=t('watch_video')%></span></td>
					<td align="center"><span id="we_offer" onclick="goToFeatures('<%= @locale%>')" class="list-button"><%=t('how_it_works')%></span></td>
					<td align="center"><span onClick="goToRandomTemplate('<%= @locale%>', '<%=@random_template.slug unless !@random_template %>')" class="list-button-green"><%=t('random_template')%></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<hr/>

<table class="white-table">
	<tr>
		<td><%= render 'text' %></td>
		<td><img src="/features/featHome.png" /></td>
	</tr>
</table>


<div id='homepage-trailer'>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/D-4N1lK9xpo?rel=0" frameborder="0" allowfullscreen></iframe>
</div>  
