
%object{:height => "315", :width => "560"}
  %param{:name => "movie", :value => "#{@link}"}
  %param{:name => "allowFullScreen", :value => "true"}
  %param{:name => "allowscriptaccess", :value => "always"}
  %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "315", :src => "#{@link}", :type => "application/x-shockwave-flash", :width => "560"}