.page_not_found_div
  #not_found_error_container
    #error_404_line_1 
      %h1
        = t('line1')
    #error_404_line_2
      %h2
        = t('line2')

  #not_found_help_container      
    %h3
      = raw t('line3', :language => I18n.locale)
    %ul
      %li
        = t('line4')
        %ul
          %li
            = t('features')
          %li
            = t('templates')
          %li
            Blog
          %li
            = t('homepage')
          %ul
      %li
        = t('line5')

      - count = 1
      .not_found_template_container
        - @top_templates.each do |template|
          %div{:id => "not_found_template_top_#{count}", :class => 'not_found_template_divs'}
            = link_to (image_tag ('/templates/' + template.key + '/' + template.template_examples.first.thumb)), template_path(template.slug)
            - count += 1
        
  