<!-- SIGA-NOS NO Facebook -->
<div id="follow_buttons_inner_container_fb">
	<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FSocialCoverMaker&amp;width=292&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_PT/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>




<!-- SIGA-NOS NO GPLUS -->
<div id="follow_buttons_inner_container_gp">
	<div class="g-plus" data-width="180" data-height="69" data-href="//plus.google.com/100863945077860717991" data-rel="publisher">
	</div>
</div>

<!-- Place this tag after the last badge tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: '<%= I18n.locale %>'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>