<!--TWITTER -->
<div class="item">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="SocialCoverMker" data-count="vertical">Tweet</a>
</div>  
<script>
  ! function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = "//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "twitter-wjs"); 
</script>


<!-- GPLUS -->
<div class="item"> 
  <div class="g-plusone" data-size="tall"></div>
</div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


<!-- FACEBOOK -->
<div class="item"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%=request.fullpath%>&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe></div>
