<div class="blockSpace"></div>

<div id="staticContentContainer">
  <div class="post">
    <div class="postContent">

      <%= form_for @message, :url => contact_path do |form| %>
      
        <span style="color:red;margin:8px auto;display:block;width:400px">
        <%= @message.errors.full_messages.first %>      
        </span>
        
      <fieldset class="fields">
        <table border="0" width="660">
            <col width="150">
            <col width="220">
            <col width="70">
            <col width="220">
          <tr>
            <td><%= form.label :name, t('contact_name'), :class=>'align-right' %></td>
            <td><%= form.text_field :name, :placeholder => t('leave_name'), :class=>'contactinput commenttextinput' %></td>
            <td><%= form.label :email, t('contact_email'), :class=>'align-right' %></td>
            <td><%= form.text_field :email, :placeholder => t('leave_email'), :class=>'contactinput commenttextinput' %></td>
          </tr>
          <tr>
            <td><%= form.label :subject, t('contact_subject'), :class=>'align-right' %></td>
            <td colspan="3"><%= form.text_field :subject, :placeholder => t('contact_subject_placeholder'), :class=>'contactinput commenttextinput' %></td>
          </tr>
          <tr>
            <td> </td>
            <td colspan="3"><%= form.text_area :body, :placeholder => t('contact_body_placeholder'), :class=>'contactinput contactTextArea commenttextareainput' %></td>
          </tr>
          <tr>
            <td><%= form.label :answer, t('contact_question'), :class=>'align-right' %></td>
            <td colspan="3"><%= form.text_field :answer, :placeholder => t('contact_answer_here'), :class=>'contactinput commenttextinput' %></td>
          </tr>
          <tr>
            <td> </td>
            <td colspan="4"><%= form.submit t('contact_submit'), :class=>'align-right' %></td>
          </tr>
        </table>

      </fieldset>
      <% end %>
    </div>
  </div>
  <%= render 'home/menu'%>
</div>
