#home #staticCol
  width: 200px
  padding-top: 20px
  margin: 10px 0 0 0
  float: left
  padding-bottom: 1000px
  margin-bottom: -1000px
  background: rgba(204, 204, 204, 0.3)
  margin-left: 10px
  -webkit-border-radius: 7px
  -moz-border-radius: 7px
  -o-border-radius: 7px
  border-radius: 7px
  ul, ol
    margin: 0
    line-height: 25px
    font-weight: bold
    margin-right: -10px
  ul li
    list-style: none
    a
      text-align: right
      display: block
      padding: 5px 0
      font-size: 14px
      text-decoration: none
      padding-right: 30px
      text-shadow: 2px 2px 2px white
      color: #444

#main #staticCol ul li span
  text-align: right
  display: block
  padding: 5px 0
  font-size: 14px
  text-decoration: none
  padding-right: 30px
  text-shadow: 2px 2px 2px white
  color: #444

#home #staticCol ul li a:hover, #main #staticCol ul li span:hover
  color: #288DF0

#home #staticCol ul > .active > li > a
  color: rgb(40, 141, 240)
  background: url(/assets/icons/Menu-selected-arrow.png) no-repeat right center

#staticContentContainer
  overflow: hidden
  .post
    margin: 10px 10px 0 0
    padding-bottom: 1000px
    margin-bottom: -1000px
    -moz-box-shadow: none
    -ms-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    width: 670px
    -moz-border-radius: 7px
    -o-border-radius: 7px
    -webkit-border-radius: 7px
    border-radius: 7px
    > .postContent
      padding: 0 25px 25px 25px
  .contactinput
    width: 100%
  .contactTextArea
    height: 200px
  .fields
    border: none

#privacyPolicy .post
  float: none
  margin: 0 auto
  padding: 17px
  width: 550px
  -moz-border-radius: 7px
  -o-border-radius: 7px
  -webkit-border-radius: 7px
  border-radius: 7px

#aboutus
  list-style: none
  ul!
  li
    width: 550px
    overflow: hidden
    position: relative
    padding: 1px 0px 0px 2px
    margin: 5px 2px
    background: rgba(0, 0, 255, 0.08)
    -moz-border-radius: 7px 7px 5px 5px
    -o-border-radius: 7px 7px 5px 5px
    -webkit-border-radius: 7px 7px 5px 5px
    border-radius: 7px 7px 5px 5px
    display: inline-block
    height: 150px
  .personalInfo
    position: relative
    float: left
    padding: 11px 0px 0px 12px
    width: 300px
    height: 136px
    color: #333
    -moz-border-radius: 7px 7px 5px 5px
    -o-border-radius: 7px 7px 5px 5px
    -webkit-border-radius: 7px 7px 5px 5px
    border-radius: 7px 7px 5px 5px
    background: -webkit-radial-gradient(45px 10px, cover, rgba(76, 104, 151, 0.17) 0%, rgba(0, 0, 0, 0) 70%)
    background: -moz-radial-gradient(45px 10px, cover, rgba(76, 104, 151, 0.17) 0%, rgba(0, 0, 0, 0) 70%)
    background: -ms-radial-gradient(45px 10px, cover, rgba(76, 104, 151, 0.17) 0%, rgba(0, 0, 0, 0) 70%)
    background: -o-radial-gradient(45px 10px, cover, rgba(76, 104, 151, 0.17) 0%, rgba(0, 0, 0, 0) 70%)
    >
      .name
        font-family: LovedbytheKing
        font-size: 46px
        margin-bottom: 30px
        margin-top: 18px
      .location!
      .email
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
      .iconSet
        position: absolute
        bottom: 0
        > a
          padding-right: 4px
  .avatar
    position: relative
    float: right

@font-face
  font-family: LovedbytheKing
  src: url(/fonts/LovedbytheKing.ttf)
