.commenttextareainput, .commenttextinput
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  border: 1px solid rgb(190, 190, 190)
  padding-left: 2px

.commentingfield
  display: inline-block

.commentsTitle
  position: relative
  float: left
  padding-top: 3px

.errorlist
  position: relative

.errorIcon
  position: relative
  float: left
  padding: 0px 20px

.commenttextinput
  width: 180px
  height: 20px

.commentbutton
  width: 80px

.commenttextareainput
  width: 646px
  height: 65px

.commentCenter
  width: 652px
  margin: 0 auto

.commentingdiv
  margin: 11px 5px 0px 5px
  border-bottom: 1px solid rgb(190, 190, 190)
  border-top: 1px solid rgb(255, 255, 255)
  border-right: 1px solid #EEE
  border-left: 1px solid rgb(255, 255, 255)
  padding: 4px
  background: rgb(245, 245, 245)
  background-image: -moz-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -ms-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -o-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(245, 245, 245)), color-stop(100%, rgb(232, 232, 232)))
  background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  -moz-border-radius: 4px 4px 0 0
  -o-border-radius: 4px 4px 0 0
  -webkit-border-radius: 4px 4px 0 0
  border-radius: 4px 4px 0 0
  box-shadow: 1px -2px 12px rgba(200, 200, 200, 0.6), inset 0 1px 0 white

.commentingfields
  text-align: center

.commentsButtons
  position: relative
  float: right

.commentsButtonList
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff
  box-shadow: inset 0px 1px 0px 0px #ffffff
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf))
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%)
  background-color: #ededed
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  border: 1px solid #dcdcdc
  display: inline-block
  padding: 1px 5px 0px 5px
  margin: 0px 0px 0px 5px
  height: 17px

.commentsButtonPrevious, .commentsButtonPreviousBlocked
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff
  box-shadow: inset 0px 1px 0px 0px #ffffff
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf))
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%)
  background-color: #ededed
  -webkit-border-top-left-radius: 3px
  -webkit-border-bottom-left-radius: 3px
  -moz-border-radius-topleft: 3px
  -moz-border-radius-bottomleft: 3px
  border-top-left-radius: 3px
  border-bottom-left-radius: 3px
  border: 1px solid #dcdcdc
  display: inline-block
  padding: 1px 5px 0px 5px
  margin: 0px -5px 0px 0px
  height: 17px

.commentsButtonNext, .commentsButtonNextBlocked
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff
  box-shadow: inset 0px 1px 0px 0px #ffffff
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf))
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%)
  background-color: #ededed
  -webkit-border-top-right-radius: 3px
  -webkit-border-bottom-right-radius: 3px
  -moz-border-radius-topright: 3px
  -moz-border-radius-bottomright: 3px
  border-top-right-radius: 3px
  border-bottom-right-radius: 3px
  border: 1px solid #dcdcdc
  display: inline-block
  padding: 1px 5px 0px 5px
  margin: 0
  height: 17px

.commentsButtonList:hover, .commentsButtonPrevious:hover, .commentsButtonNext:hover
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed))
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%)
  background-color: #dfdfdf

.commentsButtonList a, .commentsButtonPrevious a, .commentsButtonNext a
  padding: 0
  margin: 0
  font-size: 0

.commentsButtonList:active, .commentsButtonPrevious:active, .commentsButtonNext:active
  position: relative
  top: 1px

#submit_comment_result
  display: none

.commentsheader
  padding-left: 15px
  padding-top: 15px
  a
    color: #222

.commentSpacer
  padding: 10px 0
  font-style: italic
  color: #086B1F

.commentspage
  position: relative
  margin: 10px auto
  padding: 1px 15px 15px 15px
  width: 750px
  background: rgb(144, 174, 202)
  background: rgba(144, 174, 202, 0.3)
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

.comments
  margin-left: 3px
  padding-left: 17px
  background: url(/assets/icon-comment.gif) no-repeat 0 2px

.commentsContent
  overflow: hidden
  position: relative
  padding: 3px 5px 5px 5px
  margin: -3px 5px 5px 5px
  background: #C6CED5
  background: rgba(0, 0, 0, 0.1)
  -moz-box-shadow: inset 1px 14px 12px -17px #555555
  -webkit-box-shadow: inset 1px 14px 12px -17px #555555
  box-shadow: inset 1px 14px 12px -17px #555555

.commentsHeaderPage, .commentsHeader, .commentingErrors
  margin: 0px 5px 0px 5px
  display: inline-block
  width: 650px
  padding: 2px 9px
  border-bottom: 1px solid rgb(190, 190, 190)
  border-top: 1px solid rgb(255, 255, 255)
  border-right: 1px solid #ddd
  border-left: 1px solid rgb(255, 255, 255)
  background: rgb(245, 245, 245)
  background-image: -moz-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -ms-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -o-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(245, 245, 245)), color-stop(100%, rgb(232, 232, 232)))
  background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)

.commentsHeaderPage
  width: 720px

.comment
  padding: 7px
  font-size: 90%

.commentAuthor
  color: #777
  font-size: 80%
  text-align: right
  &:hover
    color: #444
