.post
  background: #DDE6EE
  background: rgba(144, 174, 202, 0.3)
  -moz-box-shadow: inset 0 5px 5px #5C94C2
  -ms-box-shadow: inset 0 5px 5px #5C94C2
  -webkit-box-shadow: inset 0 5px 5px #AFC5D9
  box-shadow: inset 0 5px 5px #D2DEE9
  padding: 0 20px
  margin-top: 15px
  color: #222
  border-color: #111
  -moz-border-radius: 7px 0 0 7px
  -o-border-radius: 7px 0 0 7px
  -webkit-border-radius: 7px 0 0 7px
  border-radius: 7px 0 0 7px
  width: 680px
  float: right
  position: relative
  .pagination
    -moz-border-radius: 0 0 7px 7px
    -o-border-radius: 0 0 7px 7px
    -webkit-border-radius: 0 0 7px 7px
    border-radius: 0 0 7px 7px
    text-align: center
    padding: 9px 0px 6px 0px
    .next_page, .previous_page
      display: inline-block
      -moz-box-shadow: inset 0px 1px 0px 0px #ffffff
      -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff
      box-shadow: inset 0px 1px 0px 0px #ffffff
      border: 1px solid #dcdcdc
      border-bottom: 1px solid #ccc
      height: 30px
      width: 30px
      font-size: 16px
      padding: 3px 8px 0px 8px
      background-color: #ededed
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf))
      background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%)
      margin: 0px -6px 0px 0px
      display: inline
    >
      a, em, .gap
        display: inline-block
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff
        box-shadow: inset 0px 1px 0px 0px #ffffff
        border: 1px solid #dcdcdc
        border-bottom: 1px solid #ccc
        height: 30px
        width: 30px
        font-size: 16px
        padding: 3px 8px 0px 8px
        background-color: #ededed
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf))
        background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%)
        margin: 0px -6px 0px 0px
        display: inline
      a!, em!, .gap!
      em
        -moz-box-shadow: inset 0px 1px 0px 0px white, 1px -1px 4px rgba(150, 150, 150, 0.5)
        -webkit-box-shadow: inset 0px 1px 0px 0px white, 1px -1px 4px rgba(150, 150, 150, 0.5)
        box-shadow: inset 0px 0px 11px 0px rgb(119, 119, 119)
        background: -moz-linear-gradient(center top, rgb(170, 170, 170) 5%, rgb(153, 153, 153) 100%)
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgb(170, 170, 170)), color-stop(1, rgb(153, 153, 153)))
        border-top: 1px solid rgb(139, 129, 129)
        border-bottom: 1px solid rgb(150, 143, 143)
        color: white
        font-weight: bold
        text-shadow: 1px 2px 1px rgb(51, 51, 51), 0 0 8px rgb(85, 85, 85)
      .previous_page, a .previous_page
        -webkit-border-top-left-radius: 3px
        -webkit-border-bottom-left-radius: 3px
        -moz-border-radius-topleft: 3px
        -moz-border-radius-bottomleft: 3px
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px
        overflow: hidden
      .next_page, a .next_page
        -webkit-border-top-right-radius: 3px
        -webkit-border-bottom-right-radius: 3px
        -moz-border-radius-topright: 3px
        -moz-border-radius-bottomright: 3px
        border-top-right-radius: 3px
        border-bottom-right-radius: 3px

.postContent
  padding: 0 25px 0 25px
  text-align: justify
  line-height: 130%
  margin-top: 20px
  .new_contact_message
    margin-left: -30px
  img
    max-width: 630px
  p
    margin-bottom: 15px

.readMore
  background: #729BB7
  background: rgba(114, 155, 183, 0.5)
  text-shadow: 1px 2px 1px #C5D4E2
  padding: 4px 5px
  margin-right: -20px
  margin-bottom: -1px
  border-color: #111
  -moz-border-radius: 3px 0 0 3px
  -o-border-radius: 3px 0 0 3px
  -webkit-border-radius: 3px 0 0 3px
  border-radius: 3px 0 0 3px
  text-align: right
  float: right
  position: relative
  a
    color: #4F5D76
    font-weight: bold

.postHeader
  color: #777
  font-size: 80%

.postfooter
  color: #777
  font-size: 80%
  &:hover
    color: #444

.postHeader
  &:hover
    color: #444
  padding: 20px 0px 0px 0px
  margin-bottom: 7px

.postfooter
  padding: 20px 0px 20px 0px

.postfooterSombra
  clear: both
  border: 0
  margin-top: 25px
  margin: 0
  position: relative
  height: 0
  border-top: 1px solid rgb(221, 221, 221)
  border-bottom: 1px solid white
  z-index: -99
  .first
    background: no-repeat url(/assets/footershadows.png) 0 0
    width: 80px
    left: 0
    background: -webkit-radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
    background: -moz-radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
    background: -o-linear-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
  span
    position: absolute
    display: block
    border: none
    height: 80px
    top: -80px
    z-index: -100
    margin: 0
    padding: 0
    _display: none
  .second
    background: no-repeat url(/assets/footershadows.png) -114px 0
    width: 80px
    right: 0
    background: -webkit-radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
    background: -moz-radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
    background: -o-linear-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
  .third
    position: relative
    margin-left: 80px
    margin-right: 80px
    top: -80px
    background: url(//s.ytimg.com/yt/img/refresh/horizontal_rule-vflnwaP_x.png)
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%)
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%)
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%)
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%)
