.not_found_template_divs
  background-color: white
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  -khtml-border-radius: 20px
  border-radius: 20px

#error_404_line_1 > h1
  color: lightslategray
  font-size: 31px
  font-family: BandaRegular

#not_found_template_top_1
  float: left

#not_found_template_top_2
  float: left
  margin-left: 25px

.page_not_found_div
  margin: 20px 51px

#error_404_line_1
  margin-top: 4px

#error_404_line_2
  /*float:right;
  margin-top: -12px
  margin-right: 25px
  font-family: icon
  > h2
    color: #C61F13

#not_found_help_container
  float: left
  margin-top: 20px
  > ul > li
    font-size: medium
    line-height: 24px

.not_found_template_container
  margin-top: 10px
