.question_answer
  margin: 0 0px 30px 0

.faq_crop_example
  margin: 15px
  float: left

.faq_crop_examples_container
  width: 100%
  display: inline-block

.faq_crop_example_jwindow
  margin: 22px
  float: left

.faq_questions > ul > li
  line-height: 26px
  font-size: 16px

.faq_container
  margin: 10px 30px
  padding: 36px
  background: #DDE6EE
  background: rgba(144, 174, 202, 0.3)
  -moz-box-shadow: inset 0 5px 5px #5C94C2
  -ms-box-shadow: inset 0 5px 5px #5C94C2
  -webkit-box-shadow: inset 0 5px 5px #AFC5D9
  box-shadow: inset 0 5px 5px #D2DEE9
  color: #222
  border-color: #111
  -moz-border-radius: 7px
  -o-border-radius: 7px
  -webkit-border-radius: 7px
  border-radius: 7px
  position: relative

.faq_questions_answers_container
  h3
    margin: 10px
  h4
    margin: 10px
    font-weight: bold
    font-size: 14px
  p
    margin-bottom: 10px

.answer
  line-height: 20px
  text-align: justify
