#social_cover_maker_features
  float: none
  margin: 10px auto
  padding: 17px
  width: 750px
  -moz-border-radius: 7px
  -o-border-radius: 7px
  -webkit-border-radius: 7px
  border-radius: 7px
  background: rgba(144, 174, 202, 0.3)

.featurest
  .video1, .video2, .video3, .video4
    width: 214px
    height: 124px
    -moz-border-radius: 5px
    -o-border-radius: 5px
    -webkit-border-radius: 5px
    border-radius: 5px
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4)
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4)
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4)
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4)
    border: 2px solid #3D5B8F
  .video1
    background: url("/features/features_videos.png") repeat scroll 0px 0px transparent
  .video2
    background: url("../features/features_videos.png") repeat scroll 214px 0px transparent
  .video3
    background: url("../features/features_videos.png") repeat scroll 428px 0px transparent
  .video4
    background: url("../features/features_videos.png") repeat scroll 642px 0px transparent

.asfadfsdfasdfa
  background: #000
  height: 315
  width: 560
