#helper_topics
  padding: 5px
  ul
    padding: 0
    list-style-type: none
    min-height: 140px
    > li.row
      border: 1px solid rgb(245, 245, 245)
      background-color: rgb(245, 245, 245)
      margin-bottom: 4px
      /*padding: 7px 5px;
      -moz-border-radius: 3px
      -webkit-border-radius: 3px
      border-radius: 3px
      position: relative

.displayed
  margin: 7px 5px

.non-displayed
  margin: 9px 5px

#helper_topics
  .displayed!
  ul > li.row
    > .dropDownButton
      position: absolute
      right: 0
      top: 0
      background-color: rgb(250, 250, 250)
      height: 100%
      margin: 0
      padding: 0 4px
      -moz-border-radius-topright: 3px
      -webkit-border-top-right-radius: 3px
      border-top-right-radius: 3px
      -moz-border-radius-bottomright: 3px
      -webkit-border-bottom-right-radius: 3px
      border-bottom-right-radius: 3px
      opacity: .55
      cursor: pointer
      opacity: 0.6
    &:hover > .dropDownButton
      opacity: 1
    > .dropDownButton > .button-img
      margin-top: 5px
      cursor: pointer
  .displayed >
    .title
      display: inline-block
    .forum
      display: inline-block
      > a
        color: rgb(153, 153, 153)
        &:hover
          color: rgb(53, 53, 53)
  .non-displayed
    display: none
    font-size: 85%
    padding: 0 12px 0 5px
    text-align: justify

/* Features customization

.featurest
  background: rgba(144, 174, 202, 0.3)
  padding-top: 8px
  padding-bottom: 30px
  .column
    padding: 0 4px
    color: #444
    padding-bottom: 20px
    &:hover
      background: rgba(195, 214, 233, 0.98)
      -o-border-radius: 5px 5px 5px 5px
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      color: #222
      a
        color: rgb(21, 94, 165)
    >
      .image
        text-align: center
        cursor: pointer
      h2
        font-size: 20px
        height: 60px
      p
        text-align: justify
