.social-inline-block
  position: relative
  display: -moz-inline-box
  display: inline-block
  font-weight: normal
  color: #91959C

*
  html .goog-inline-block, &:first-child + html .goog-inline-block
    display: inline

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  color: #333333

h1
  font-size: 26px

h2
  font-size: 23px
  font-weight: normal
  margin-top: 15px

h3
  font-size: 17px
  font-weight: bold
  margin-top: 10px

h4
  font-size: 17px
  font-weight: normal
  margin-top: 10px

body
  background-color: #ECECEC
  color: #666
  font-family: "Open Sans", Arial, sans-serif
  font-size: 14px
  margin: 0
  padding: 0
  height: 100%
  min-width: 960px

a
  color: #288df0
  text-decoration: none

.center
  margin: 0 auto
  padding: 0 10px
  max-width: 960px

.first-section
  padding-top: 80px

.align-right
  float: right

.align-left
  float: left

.clear-both
  clear: both

.small-text
  font-size: 11px

.semi-bold
  font-weight: 600

img
  border: none

.box-holder
  padding-bottom: 60px
  padding-top: 10px
  width: 100%

#header
  background: whitesmoke
  background-color: white
  color: #91959c
  left: 0
  position: absolute
  right: 0
  z-index: 20
  .top-bar
    border-bottom: 1px solid #fff
    height: 45px
    padding: 2px 15px 0px
  #top-nav
    margin: 0 auto
    position: relative
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
    &.fixed
      margin: 0 auto
      position: fixed
      top: 0px

#logo
  color: #91959c
  font-size: 27px
  font-weight: 300
  position: absolute
  text-shadow: 0 1px 1px white
  white-space: nowrap
  img
    padding: 0 .4em 0 0
    position: relative
    top: 2px
    vertical-align: middle
  a
    color: #91959c
  span.goog-inline-block
    margin-top: 3px
    vertical-align: top

#header .nav-wrapper
  background: rgb(108, 122, 149) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAYAAABHLFpgAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AYCEjA7/Y7jFgAAAFJJREFUGNPljrENgDAQA08/E5MwAxuwDoMwVgaI/iggQUIUoaax7JNlmXXbDZUwIfJ0SZj2CK1yMy+W3Y2wl4EnG6h8+bLME5RSpNYqqgHwXzkARp2RiYWnN40AAAAASUVORK5CYII=) top repeat-x
  background-image: -moz-linear-gradient(bottom, #3a588d 0, #749db9 45px, #e5e5e5 46px, #f7f7f7 47px, white 48px)
  background-image: -ms-linear-gradient(top, #3a588d 0, #749db9 45px, #e5e5e5 46px, #f7f7f7 47px, white 48px)
  background-image: -o-linear-gradient(top, #3a588d 0, #749db9 45px, #e5e5e5 46px, #f7f7f7 47px, white 48px)
  background-image: -webkit-linear-gradient(top, #749db9 0, #3a588d 45px, #e5e5e5 46px, #f7f7f7 47px, white 48px)
  background-image: linear-gradient(top, #749db9 0, #3a588d 45px, #e5e5e5 46px, #f7f7f7 47px, white 48px)
  border-top: 1px solid #495871
  height: 45px
  width: 100%

#nav
  font-family: "Open Sans", Arial, sans-serif
  font-size: 14px
  list-style: none
  margin: 0 auto
  padding: 0
  max-width: 990px
  ul
    font-family: "Open Sans", Arial, sans-serif
    font-size: 14px
    list-style: none
    margin: 0 auto
    padding: 0
    max-width: 990px

#nav-limits
  max-width: 920px
  margin: auto

#nav a
  outline: none

#top-nav-logo
  margin: 0
  padding-top: 2px

.flush
  overflow: hidden
  width: 100%

.nav-active
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAKCAYAAACuaZ5oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH1JREFUeNpi/P//PwORgBmIJ0DZBUD8lyhdIAuIwEJAvP0/AmyHihHUS4zhKkB8+z8muA2Vo8gCeyB++x83eAtVQ5YFOUD88z9h8AeqlmgLmIF48n/SwWSoXrwWoEcmqQAj8omJTFIBSuQTG5mkAnjkwyLzz3/qA3DkAwQYABEvANn67PzPAAAAAElFTkSuQmCC) center 40px no-repeat
  font-weight: bold

#nav
  li
    display: block
    float: left
    line-height: 45px
    margin: 0 5px
    > a
      color: #fff
      display: block
      height: 45px
      padding: 0 20px
      text-decoration: none
      -moz-transition: color .5s ease-out
      -ms-transition: color .5s ease-out
      -o-transition: color .5s ease-out
      -webkit-transition: color .5s ease-out
      transition: color 0.5s ease-out
      &:hover
        color: #ddd
        cursor: pointer
        -moz-transition: color .3s ease-out
        -ms-transition: color .3s ease-out
        -o-transition: color .3s ease-out
        -webkit-transition: color .3s ease-out
        transition: color 0.3s ease-out
      &:active
        -moz-transition: none
        -ms-transition: none
        -o-transition: none
        -webkit-transition: none
        transition: none
        color: #aaaaaa
  ul
    float: left

#nab
  ul
    float: right
    list-style: none
    margin: 0 auto
    padding: 0
  li
    display: block
    float: left
    > a
      color: #fff
      display: block
      height: 45px
      padding: 0
      text-decoration: none
      -moz-transition: color .5s ease-out
      -ms-transition: color .5s ease-out
      -o-transition: color .5s ease-out
      -webkit-transition: color .5s ease-out
      transition: color 0.5s ease-out
      &:hover
        color: #ddd
        cursor: pointer
        -moz-transition: color .3s ease-out
        -ms-transition: color .3s ease-out
        -o-transition: color .3s ease-out
        -webkit-transition: color .3s ease-out
        transition: color 0.3s ease-out
      &:active
        -moz-transition: none
        -ms-transition: none
        -o-transition: none
        -webkit-transition: none
        transition: none
        color: #aaaaaa

#header .contains-button
  float: right
  margin-right: 30px

.action-instructions
  color: #777
  float: right
  font-size: 14px
  margin-right: 15px
  margin-top: 17px
  text-align: right
  white-space: nowrap
  a
    color: #777
    &:hover
      color: #222

.multiline-action-instructions
  margin: 0 15px 0 200px
  white-space: normal

.tagline
  border-bottom: 1px solid #edf3fa
  border-top: 1px solid #edf3fa
  color: #333
  font-size: 23px
  margin-top: 5px
  padding-bottom: 12px
  padding-top: 12px
  text-align: center

hr
  border: 0
  height: 1px
  margin: 18px 0
  position: relative
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.01) 100%)
  /* FF3.6+
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.01)), color-stop(20%, rgba(0, 0, 0, 0.2)), color-stop(80%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.01)))
  /* Chrome,Safari4+
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.01) 100%)
  /* Chrome10+,Safari5.1+
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.01) 100%)
  /* Opera 11.10+
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.01) 100%)
  /* IE10+
  background: linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.01) 100%)
  /* W3C

#headspace
  padding: 21px 0px 0px 0px

#home
  background-position: center bottom
  background-image: url(wrapper_bg.png)
  margin: 0 auto
  min-height: 450px
  position: relative
  padding: 94px 0px 80px 0px
  width: 940px
  z-index: 1
  border-style: solid
  border-width: 0px 1px 0px 1px
  border-color: #CBCBCB
  height: 100%
  overflow: hidden

.white-boxy
  background-color: transparent
  padding: 30px
  width: 360px
  h3
    font-size: 23px
    font-weight: normal
    padding-bottom: 10px

.white-table
  margin-left: 20px
  td
    padding: 0px 10px
    > p
      text-align: justify
      margin-bottom: 7px
  h2
    margin-bottom: 5px
  ol
    margin-top: 0px

#footer
  background: -webkit-linear-gradient(rgba(245, 245, 245, 0), rgba(236, 236, 236, 1))
  background: -moz-linear-gradient(rgba(245, 245, 245, 0), rgba(236, 236, 236, 1))
  background: -o-linear-gradient(rgba(245, 245, 245, 0), rgba(236, 236, 236, 1))
  background: -ms-linear-gradient(rgba(245, 245, 245, 0), rgba(236, 236, 236, 1))
  background: linear-gradient(rgba(245, 245, 245, 0), rgba(236, 236, 236, 1))
  color: #B7B7B7
  font-size: 11px
  width: 100%
  bottom: 0px
  position: absolute
  a
    color: #A5A5A5
    text-decoration: underline
  .footAuthers
    float: right
    padding: 0 15px 10px 0
  .footLinks
    float: left
    padding: 0 0 10px 15px

#not-me
  font-size: 11px
  margin-left: 1em
  padding-top: 4px
  white-space: nowrap

.menuImage
  height: 45px

.example1
  margin: 0
  padding: 0
  list-style: none
  li
    margin-left: 0
    width: 400px
    text-align: right

#slideshow
  position: relative
  height: 270px
  margin-left: 139px
  margin-top: 33px
  margin-bottom: 30px

.buttonNext
  background: url(/assets/icons/SlideNext.png) no-repeat 0 0px
  cursor: pointer
  color: #000000
  display: block
  height: 44px
  position: absolute
  text-align: center
  text-decoration: none
  vertical-align: bottom
  width: 30px
  opacity: 0.8
  right: 10px
  bottom: 145px
  opacity: 0.7
  &:hover
    opacity: 1

.buttonPrevious
  &:hover
    opacity: 1
  background: url(/assets/icons/SlidePrevious.png) no-repeat 0 0
  cursor: pointer
  color: black
  display: block
  height: 44px
  position: absolute
  text-align: center
  text-decoration: none
  vertical-align: bottom
  width: 30px
  opacity: 0.8
  left: 10px
  bottom: 145px
  opacity: 0.5

#slideshow .buttonPrevious
  left: -127px

#home .pelicula
  position: absolute
  top: 110px
  left: 50px
  z-index: 10
  opacity: 1.0
  
#home #fb_slideshow_pelicule
  height: 305px
  left: 44px
  top: 131px
  width: 855px

#slideshow .fb_slideshow
  left: -2px
  width: 668px
  height: 282px
   
#slideshow IMG
  position: absolute
  top: 0
  left: 0
  height: 206px
  width: 710px
  z-index: 8
  opacity: 0.0
  &.active
    z-index: 10
    opacity: 1.0
  &.last-active
    z-index: 9

#slogan
  font-weight: bolder
  font-size: 240%
  text-align: center
  color: #666

#pitch
  font-size: 130%
  text-align: center
  margin-bottom: 30px
  color: #666
  font-weight: normal

.list-button
  background: rgb(61, 132, 213) url(/assets/button_bg.png) top left repeat-x
  -moz-border-radius: 5px
  -o-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  border-bottom: rgb(85, 99, 122) 1px solid
  border-top: rgb(125, 204, 230) 1px solid
  display: block
  height: 20px
  line-height: 20px
  margin-left: 51px
  margin-top: 5px
  padding: 6px 16px
  cursor: pointer
  font-weight: bold
  color: white
  text-shadow: 1px 2px 1px rgb(77, 63, 228), 0px 0px 8px rgb(86, 112, 136)

.list-button-green
  background: rgb(61, 132, 213) url(/assets/button_bg.png) top left repeat-x
  -moz-border-radius: 5px
  -o-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  border-bottom: rgb(85, 99, 122) 1px solid
  border-top: rgb(125, 204, 230) 1px solid
  display: block
  height: 20px
  line-height: 20px
  margin-left: 51px
  margin-top: 5px
  padding: 6px 16px
  cursor: pointer
  font-weight: bold
  color: white
  text-shadow: 1px 2px 1px rgb(77, 63, 228), 0px 0px 8px rgb(86, 112, 136)
  background: #4ea333 url(/assets/button_bg_green.png) top left repeat-x
  border-bottom: #587A55 1px solid
  border-top: #96FD67 1px solid
  text-shadow: 1px 2px 1px #277E12, 0px 0px 8px #568858

.hide
  display: none

/* Select do idioma da pagina

div.selector
  width: auto
  max-width: 190px
  select
    min-width: 50px
    max-width: 190px
  span
    width: auto
