#box-right > img
  margin-top: 52px

#homepage-trailer
  display: block
  margin: 20px auto
  width: 560px
  height: 315px
  border: 4px solid #3D5B8F
  border-radius: 5px
  box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.35)
