.lightboxPeliculeGplus
  pointer-events: none
  background: url(/assets/peliculas/Google_plus_lightbox.png) repeat scroll 0 0 transparent
  padding: 262px 940px 0 0
  position: absolute
  z-index: 3
  margin-top: -265px

.lightboxPeliculeFacebook
  pointer-events: none
  padding: 371px 851px 0 0
  position: absolute
  z-index: 3
  margin-top: -373px

.lightboxPeliculeFacebookEN
  background: url(/assets/peliculas/Facebook_lightbox_en.png) no-repeat scroll 0 0 transparent

.lightboxPeliculeFacebookPT
  background: url(/assets/peliculas/Facebook_lightbox_pt.png) no-repeat scroll 0 0 transparent

.jwc_frame
  margin-top: 6px
  margin-bottom: 13px
  border: 0px solid black
  background-color: white

/* over ride defaults

.jwc_controls
  height: 24px

.jwc_zoom_in, .jwc_zoom_out
  display: block
  background-color: transparent
  cursor: pointer
  width: 16px
  height: 16px
  float: right
  margin: 4px 4px 0px 0px
  text-decoration: none
  text-align: center
  font-size: 16px
  font-weight: bold
  color: #000

.jwc_zoom_in
  background-image: url(round_plus_16.png)

.jwc_zoom_out
  background-image: url(round_minus_16.png)

.jwc_zoom_in::after, .jwc_zoom_out::after
  content: ""

.edit_image, .button_to
  display: inline-block
  float: right
  background-color: white
  padding: 3px 13px
  border: 1px solid rgb(196, 192, 192)
  -webkit-border-radius: 5px
  -moz-border-radius: 3px
  border-radius: 3px

.edit_image
  border-left: none
  -moz-border-radius-bottomleft: none
  -webkit-border-bottom-left-radius: none
  border-bottom-left-radius: none
  -moz-border-radius-topleft: none
  -webkit-border-top-left-radius: none
  border-top-left-radius: none

.button_to
  margin-right: -6px
  border-right: none
  -moz-border-radius-bottomright: none
  -webkit-border-bottom-right-radius: none
  border-bottom-right-radius: none
  -moz-border-radius-topright: none
  -webkit-border-top-right-radius: none
  border-top-right-radius: none
