.blogmenu
  width: 200px
  margin: 0px 0px 0px -1px
  float: left
  border-left: 1px solid rgb(190, 190, 190)
  border-radius: 0 0 3px 0
  position: absolute
  top: 94px
  border-right: 1px solid rgb(190, 190, 190)

.menuItem
  height: 30px
  border-bottom: 1px solid rgb(190, 190, 190)
  border-top: 1px solid rgb(255, 255, 255)
  background: rgb(245, 245, 245)
  background-image: -moz-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -ms-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -o-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(245, 245, 245)), color-stop(100%, rgb(232, 232, 232)))
  background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)

.submenuItem
  height: 20px
  background: rgb(220, 220, 220)

.subsubmenuContainer
  -moz-box-shadow: inset 1px 14px 12px -17px #555555
  -webkit-box-shadow: inset 1px 14px 12px -17px #555555
  box-shadow: inset 1px 14px 12px -17px #555555
  background: rgb(200, 200, 200)

.subsubmenuItem
  padding-left: 5px
  height: 20px

.finalItem
  height: 7px
  border-bottom: 1px solid rgb(190, 190, 190)
  border-top: 1px solid rgb(255, 255, 255)
  background: rgb(245, 245, 245)
  background-image: -moz-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -ms-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -o-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(245, 245, 245)), color-stop(100%, rgb(232, 232, 232)))
  background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  -moz-border-radius: 0 0 7px 0
  -o-border-radius: 0 0 7px 0
  -webkit-border-radius: 0 0 7px 0
  border-radius: 0 0 3px 0

.blogmenu
  color: rgb(110, 110, 110)
  a
    color: rgb(110, 110, 110)

.menuItemText:hover
  color: rgb(40, 40, 40)

.submenuItemText
  &:hover, a:hover
    color: rgb(40, 40, 40)

.menuItemText
  a:hover
    color: rgb(40, 40, 40)
  padding: 8px 0px 3px 33px
  font-size: 12px
  font-weight: bold
  margin-left: 10px

.menuItemHomeIcon
  background: url(/assets/icon-menu-home.gif) no-repeat 0 4px

.menuItemCalendarIcon
  background: url(/assets/icon-menu-calendar.gif) no-repeat 0 4px

.menuItemCategoryIcon
  background: url(/assets/icon-menu-category.gif) no-repeat 0 4px

.submenuItemText
  padding: 4px 0px 0px 18px
  font-size: 11px

.subsubmenuItemText
  padding: 4px 0px 0px 18px
  font-size: 11px
  a
    color: #288df0
    text-decoration: none
    &:hover
      color: #2066A0

.blogMinihrUp
  border: 0
  height: 1px
  margin: 1px 0 0 0
  width: 80%
  position: relative
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* FF3.6+
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.01)))
  /* Chrome,Safari4+
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* Chrome10+,Safari5.1+
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* Opera 11.10+
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* IE10+
  background: linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* W3C

.blogMinihrDown
  border: 0
  height: 1px
  margin: 0 0 1px 0
  width: 80%
  position: relative
  background: -moz-linear-gradient(left, rgba(128, 178, 255, 0.2) 0%, rgba(229, 240, 255, 0.2) 50%, rgba(229, 240, 255, 0.01) 100%)
  /* FF3.6+
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(229, 240, 255, 0.2)), color-stop(50%, rgba(229, 240, 255, 0.2)), color-stop(100%, rgba(229, 240, 255, 0.01)))
  /* Chrome,Safari4+
  background: -webkit-linear-gradient(left, rgba(229, 240, 255, 0.8) 0%, rgba(229, 240, 255, 0.5) 50%, rgba(229, 240, 255, 0.01) 100%)
  /* Chrome10+,Safari5.1+
  background: -o-linear-gradient(left, rgba(229, 240, 255, 0.2) 0%, rgba(229, 240, 255, 0.2) 50%, rgba(229, 240, 255, 0.01) 100%)
  /* Opera 11.10+
  background: -ms-linear-gradient(left, rgba(229, 240, 255, 0.2) 0%, rgba(229, 240, 255, 0.2) 50%, rgba(229, 240, 255, 0.01) 100%)
  /* IE10+
  background: linear-gradient(left, rgba(229, 240, 255, 0.2) 0%, rgba(229, 240, 255, 0.2) 50%, rgba(229, 240, 255, 0.01) 100%)
  /* W3C

.itemActive
  color: black
  font-weight: bold
  text-shadow: 1px 1px 14px #555555
  a
    color: black
    font-weight: bold
    text-shadow: 1px 1px 14px #555555
