.item_info_tip_gplus
  min-width: 350px
  min-height: 152px

.item_info_tip_facebook
  min-width: 350px
  min-height: 199px


.ui-tooltip-content
  padding: 0px !important
  p
    text-align: justify
    margin: 5px 0 0 5px

.ui-tooltip-default
  -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35)
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35)
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35)
  border-color: rgba(100, 100, 100, 0.4)
  background-color: #FFFFFF

.tooltip_padding
  padding: 5px
