#follow_buttons_container
  overflow: hidden
  width: 245px
  height: 45px
  left: 490px
  right: 100px
  position: absolute

#follow_buttons_inner_container_fb
  height: 30px
  weight: 100px
  margin: -24px 0 0 122px
  position: absolute


#follow_buttons_inner_container_gp
  margin: -13px 0 40px -72px
  position: absolute
  overflow: hidden
  right: 73px

