@import compass 

#templatetitle
  padding-left: 20px
  z-index: 30
  position: relative
  text-shadow: 1px 2px 1px #EEE, 0px 0px 8px #AAA
  margin-bottom: 8px

#templateExamples
  position: relative

.templateExampleGplus
  position: relative
  width: 710px
  height: 206px
  margin-bottom: 58px
  margin-left: 139px
  margin-top: 10px
  z-index: 2

.templateExampleFb
  position: relative
  width: 672px
  height: 282px
  margin-bottom: -7px
  margin-left: 141px
  margin-top: 17px
  z-index: 2

.templatePellicle
  position: relative
  left: 50px
  z-index: 3
  opacity: 1.0
  margin-top: -325px

#templateDescription
  background: #8D9DAD
  background: rgba(29, 61, 92, 0.5)
  margin: 0px 0px 5px 0px
  padding: 15px 8px 8px 30px
  color: #222
  -moz-border-radius: 0 7px 7px 0
  -o-border-radius: 0 7px 7px 0
  -webkit-border-radius: 0 7px 7px 0
  border-radius: 0 7px 7px 0
  position: relative
  z-index: 4
  float: left
  width: 600px
  min-height: 50px
  p
    padding-left: 15px
  .description
    margin-bottom: 8px
    font-weight: bolder
  #metainformation *
    display: inline-block
    color: #333
    font-size: 80%
  .spacer
    height: 20px
  #metainformation
    padding: 0
  hr
    margin: 13px -6px 1px -32px
  #separador
    margin: 0 10px

.templateInformation
  width: 940px
  display: inline-block

.templateSocialButtons
  position: relative
  float: right
  width: 250px
  padding: 0 30px 0 0px
  margin-top: 3px
  .item
    width: 60px
    height: 62px
    overflow: hidden
    text-align: center
    position: relative
    display: inline-block
    margin: 0 8px

.itemSizes
  font-size: 90%
  color: #777
  &:hover
    font-size: 90%
    color: #333

.loading_for_image_upload, .loading_for_image_crop
  display: none
  position: absolute
  bottom: 40%
  left: 43%
  background: rgb(255, 255, 255)
  background: rgba(255, 255, 255, 0.6)
  box-shadow: 0 8px 23px rgba(0, 0, 0, 0.5)
  border-radius: 4px 4px 4px 4px
  padding: 5px 10px

.loading_for_image_upload p, .loading_for_image_crop p
  text-align: center

#waiting_for_download_links
  display: none

.blockSpace
  overflow: hidden
  margin: 5px 0 0 0
  width: 760px

.adds
  /* neste sitio existe este tamanho fixo, no entanto, é para remover a altura! */
  display: none
  width: 160px
  height: 600px
  background: #FFF
  margin: 0 2px
  float: left
  border-style: solid
  border-width: 1px

.templateItems
  padding: 10px 0px
  color: #222
  float: right

.templateitem, .templateitemBig
  position: relative
  margin: 5px 2px
  background: rgba(0, 0, 0, 0.1)
  -moz-border-radius: 7px 7px 5px 5px
  -o-border-radius: 7px 7px 5px 5px
  -webkit-border-radius: 7px 7px 5px 5px
  border-radius: 7px 7px 5px 5px
  display: inline-block
  width: 373px
  height: 150px

.templateitem:after
  clear: both

.templateitemBig
  &:after
    clear: both
  width: 757px

.templateitem:hover, .templateitemBig:hover
  -moz-box-shadow: 1px 2px 4px #888
  -ms-box-shadow: 1px 2px 4px #888
  -webkit-box-shadow: 1px 2px 4px #888
  box-shadow: 1px 2px 4px #888

.templateitem .outputPreview
  overflow: hidden
  width: 190px
  height: 150px
  position: absolute
  right: 0
  top: 0
  z-index: 9

.itemOptions
  position: absolute
  left: 0
  top: 0
  width: 357px
  height: 130px
  z-index: 10
  background: -webkit-radial-gradient(45px 10px, cover, rgba(76, 104, 151, 0.17) 0%, rgba(0, 0, 0, 0) 70%)
  background: -moz-radial-gradient(45px 10px, cover, rgba(76, 104, 151, 0.17) 0%, rgba(0, 0, 0, 0) 70%)
  background: -ms-radial-gradient(45px 10px, cover, rgba(76, 104, 151, 0.17) 0%, rgba(0, 0, 0, 0) 70%)
  background: -o-radial-gradient(45px 10px, cover, rgba(76, 104, 151, 0.17) 0%, rgba(0, 0, 0, 0) 70%)
  padding-left: 8px
  padding-top: 13px
  -moz-border-radius: 7px 7px 5px 5px
  -o-border-radius: 7px 7px 5px 5px
  -webkit-border-radius: 7px 7px 5px 5px
  border-radius: 7px 7px 5px 5px
  font-size: 85%

.text_field
  margin-top: 8px

textarea
  resize: none

.templateitemBig .itemOptions
  width: 450px

.itemOptions p
  max-height: 47px
  overflow: hidden

.itemSubmit
  position: relative
  overflow: hidden
  text-align: right
  margin-right: 50px
  margin-top: 10px

.itemImage
  float: right
  width: auto
  max-width: 200px
  IMG
    border-radius: 0px 7px 5px 0px
    max-height: 150px

.templateitemBig .itemImage
  max-width: 300px

.templateitem .yt-horizontal-rule, .templateitemBig .yt-horizontal-rule
  clear: both
  border: 0
  margin-top: 57px

.yt-horizontal-rule
  position: absolute
  bottom: 0
  left: 0
  margin: 0
  height: 0
  border-top: 1px solid #DDD
  border-bottom: 1px solid white
  z-index: -99
  .first
    background: no-repeat url(/assets/footershadows.png) 0 0
    width: 80px
    left: 0
    background: -webkit-radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
    background: -moz-radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
    background: -o-linear-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
  span
    position: absolute
    display: block
    border: none
    height: 80px
    top: -80px
    z-index: -100
    margin: 0
    padding: 0
    _display: none
  .second
    background: no-repeat url(/assets/footershadows.png) -114px 0
    width: 80px
    right: 0
    background: -webkit-radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
    background: -moz-radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
    background: -o-linear-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%)
  .third
    position: relative
    margin-left: 80px
    margin-right: 80px
    top: -80px
    background: url(/assets/footershadows.png)
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%)
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%)
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%)
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%)

.minihrUp
  border: 0
  height: 1px
  margin: 1px 0 0 0
  position: relative
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.01)))
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* IE10+ */
  background: linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.01) 100%)
  /* W3C */

.minihrDown
  border: 0
  height: 1px
  margin: 0 0 1px 0
  position: relative
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.01) 100%)
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(1, 1, 1, 0.2)), color-stop(50%, rgba(1, 1, 1, 0.2)), color-stop(100%, rgba(1, 1, 1, 0.01)))
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(207, 226, 255, 0.8) 0%, rgba(207, 226, 255, 0.5) 50%, rgba(207, 226, 255, 0.01) 100%)
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(1, 1, 1, 0.2) 0%, rgba(1, 1, 1, 0.2) 50%, rgba(1, 1, 1, 0.01) 100%)
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(1, 1, 1, 0.2) 0%, rgba(1, 1, 1, 0.2) 50%, rgba(1, 1, 1, 0.01) 100%)
  /* IE10+ */
  background: linear-gradient(left, rgba(1, 1, 1, 0.2) 0%, rgba(1, 1, 1, 0.2) 50%, rgba(1, 1, 1, 0.01) 100%)
  /* W3C */

/* *****************  INDEX Templates  ****************** */

#templateIndexHeader
  display: inline-block
  width: 720px
  float: right
  position: relative
  border-top: 1px solid rgb(255, 255, 255)
  border-right: 1px solid #EEE
  border-left: 1px solid rgb(255, 255, 255)

#templateIndex
  display: inline-block
  width: 720px
  float: right
  position: relative
  border-top: 1px solid rgb(255, 255, 255)
  border-right: 1px solid #EEE
  border-left: 1px solid rgb(255, 255, 255)
  margin: 11px 8px 11px 2px
  background: rgb(144, 174, 202)
  background: rgba(144, 174, 202, 0.3)
  -webkit-border-radius: 7px
  -moz-border-radius: 7px
  border-radius: 7px
  min-height: 300px
  padding-left: 1px
  .pagination
    border-bottom: 1px solid rgb(190, 190, 190)
    border-top: 1px solid rgb(255, 255, 255)
    background: rgb(245, 245, 245)
    background-image: -moz-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    background-image: -ms-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    background-image: -o-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(245, 245, 245)), color-stop(100%, rgb(232, 232, 232)))
    background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    -moz-border-radius: 0 0 7px 7px
    -o-border-radius: 0 0 7px 7px
    -webkit-border-radius: 0 0 7px 7px
    border-radius: 0 0 7px 7px
    text-align: center
    padding: 9px 0px 6px 0px
    .next_page, .previous_page
      display: inline-block
      -moz-box-shadow: inset 0px 1px 0px 0px #ffffff
      -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff
      box-shadow: inset 0px 1px 0px 0px #ffffff
      border: 1px solid #dcdcdc
      border-bottom: 1px solid #ccc
      height: 30px
      width: 30px
      font-size: 16px
      padding: 3px 8px 0px 8px
      background-color: #ededed
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf))
      background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%)
      margin: 0px -6px 0px 0px
      display: inline


#templateIndex .pagination >
  a, em, .gap
    display: inline-block
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff
    box-shadow: inset 0px 1px 0px 0px #ffffff
    border: 1px solid #dcdcdc
    border-bottom: 1px solid #ccc
    height: 30px
    width: 30px
    font-size: 16px
    padding: 3px 8px 0px 8px
    background-color: #ededed
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf))
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%)
    margin: 0px -6px 0px 0px
    display: inline
  a!, em!, .gap!
  em
    -moz-box-shadow: inset 0px 1px 0px 0px white, 1px -1px 4px rgba(150, 150, 150, 0.5)
    -webkit-box-shadow: inset 0px 1px 0px 0px white, 1px -1px 4px rgba(150, 150, 150, 0.5)
    box-shadow: inset 0px 0px 11px 0px rgb(119, 119, 119)
    background-color: #7A7A7A
    background: -moz-linear-gradient(center top, rgb(170, 170, 170) 5%, rgb(153, 153, 153) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgb(170, 170, 170)), color-stop(1, rgb(153, 153, 153)))
    border-top: 1px solid rgb(139, 129, 129)
    border-bottom: 1px solid rgb(150, 143, 143)
    color: white
    font-weight: bold
    text-shadow: 1px 2px 1px rgb(51, 51, 51), 0 0 8px rgb(85, 85, 85)
  .previous_page, a .previous_page
    -webkit-border-top-left-radius: 3px
    -webkit-border-bottom-left-radius: 3px
    -moz-border-radius-topleft: 3px
    -moz-border-radius-bottomleft: 3px
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px
    overflow: hidden
  .next_page, a .next_page
    -webkit-border-top-right-radius: 3px
    -webkit-border-bottom-right-radius: 3px
    -moz-border-radius-topright: 3px
    -moz-border-radius-bottomright: 3px
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px

#templateIndexHeader
  background: rgb(245, 245, 245)
  background-image: -moz-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -ms-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -o-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(245, 245, 245)), color-stop(100%, rgb(232, 232, 232)))
  background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  background-image: linear-gradient(top bottom, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
  -moz-border-radius: 4px 4px 0 0
  -o-border-radius: 4px 4px 0 0
  -webkit-border-radius: 4px 4px 0 0
  border-radius: 4px 4px 0 0
  border-bottom: 1px solid rgb(190, 190, 190)
  box-shadow: 1px -2px 12px rgba(200, 200, 200, 0.6), inset 0 1px 0 white

#templateIndexTitle
  position: relative
  float: left
  padding: 10px 0px 10px 21px

#templateIndexButtons
  position: relative
  float: right
  padding: 10px 25px 10px 0

#templateIndexElements
  padding: 0px
  display: inline-block
  li.Google
    display: inline
    list-style: none
    float: left
    margin: 0 0px 17px 5px
    border: 1px solid rgb(211, 211, 211)
    text-align: center
    background: #ffffff
    width: 350px
    height: 184px
    position: relative
    @include border-radius(4px)
    @include box-shadow(1px -1px 4px rgba(150, 150, 150, 0.5))
    &:hover
      background: #ffffff
      box-shadow: 1px -1px 7px rgba(150, 150, 150, 0.6)
      border: 1px solid rgb(179, 179, 179)
    .image
      margin-top: -5px
      z-index: 9
      position: relative
    p
      font-size: 85%
      text-align: justify
      padding: 0 10px
      height: 64px
      background: rgb(238, 238, 238)
      margin-top: 7px
      border-radius: 0 0 4px 4px
      position: absolute
      bottom: 0
    h3
      font-size: 90%
      z-index: 10
      margin-bottom: 5px
      margin-top: 1px
      padding-left: 40px
      position: relative
    .gplusButtons
      border-bottom: 1px solid #fff
    .buttonZoom
      cursor: pointer
      cursor: -moz-zoom-in
      cursor: -webkit-zoom-in
      color: #000000
      display: block
      height: 100px
      position: absolute
      text-align: center
      text-decoration: none
      vertical-align: bottom
      width: 100px
      opacity: 1
      right: 7px
      bottom: 0px
      top: 0px
      IMG
        position: absolute
        right: 0px
        bottom: 0px
        width: 36px
        height: 36px
    .boxHidden
      overflow: hidden
  li.Facebook
    @extend li.Google
    height: 230px
    position: relative
    .buttonZoom
      height: 140px
  li.GoogleMisc
    @extend li.Google
    height: 230px
    position: relative
    .imageGoogle
      margin: 23px 0
      .buttonZoom
        height: 155px
    .imageFacebook
      margin: -4px 07
      .buttonZoom
        height: 164px
  .template-stamp
    top: 0px
    left: 0px
    position: absolute
    z-index: 36
    margin: -20px 0 0 -10px


@mixin optionsButton
  margin-left: 20px
  display: inline
  a
    color: #333333
  .orderLeft, .orderRight
    display: inline-block
    @include box-shadow(#ffffff 0px 1px 0px 0px inset)
    border: 1px solid #dcdcdc
    border-bottom: 1px solid #ccc
    height: 18px
    padding: 3px 8px 0px 8px
    background-color: #ededed // Old browsers
    @include filter-gradient(#ededed, #dfdfdf, vertical) // IE6-9
    @include background-image(linear-gradient(top, #ededed 0%,#dfdfdf 100%))
    margin: 0px -6px 0px 0px
    position: relative
    font-size: 12px
    &:hover
      background-color: #dfdfdf
      @include filter-gradient(#dfdfdf, #ededed, vertical) // IE6-9
      @include background-image(linear-gradient(top, #dfdfdf 0%,#ededed 100%))
  .orderLeft
    @include border-top-left-radius(3px)
    @include border-bottom-left-radius(3px)
  .orderRight
    @include border-top-right-radius(3px)
    @include border-bottom-right-radius(3px)


#orderingOptionsButton
  @include optionsButton

#timeOrderingOptionsButton
  @include optionsButton


#socialOptionsButton
  @include optionsButton 
  .orderMiddle
    @extend .orderLeft
    @include border-radius(0)
  .orderMiddleSelected
    @extend .orderMiddle
    background-color: #446BC7
    @include filter-gradient(#446BC7, #375599, vertical) // IE6-9
    @include background-image(linear-gradient(top, #446BC7 0%,#375599 100%))
    color: white
    font-weight: bolder
    @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset)
    &:hover
      border: 1px solid rgba(220, 220, 220,0.9)
      background-color: #446BC7
      @include filter-gradient(#446BC7, #375599, vertical) // IE6-9
      @include background-image(linear-gradient(top, #446BC7 0%,#375599 100%))
      @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset,#446BC7 0px 0px 10px)

  .orderRightSelected
    @extend .orderRight
    background-color: #C10101
    @include filter-gradient(#C10101, #940909, vertical) // IE6-9
    @include background-image(linear-gradient(top, #C10101 0%,#940909 100%))
    color: white
    font-weight: bolder
    @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset)
    &:hover
      border: 1px solid rgba(220, 220, 220,0.5)
      background-color: #C10101
      @include filter-gradient(#C10101, #940909, vertical) // IE6-9
      @include background-image(linear-gradient(top, #C10101 0%,#940909 100%))
      @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset,#C10101 0px 0px 10px)
    


#orderMenu, #timeOrderMenu
  display: none
  position: absolute
  z-index: 10
  text-align: center
  box-shadow: 0 8px 23px rgba(0, 0, 0, 0.5)
  font-size: 13px
  outline: medium none
  background: none repeat scroll 0 0 #FFFFFF
  background-clip: padding-box !important
  background-color: rgba(255, 255, 255, 0.98)
  border: 0 none
  border-radius: 4px 4px 4px 4px
  margin: 0
  padding: 6px 0 6px 0
  right: 0px
  top: 22px
  z-index: 1000

#orderMenu ul, #timeOrderMenu ul
  color: #333333
  cursor: pointer
  list-style: none outside none
  white-space: nowrap
  margin: 0
  padding: 0
  font-size: 14px
  line-height: 20px

#orderMenu li, #timeOrderMenu li
  padding: 0 25px

#orderMenu li:hover, #timeOrderMenu li:hover
  background-color: #50A2F3

#orderMenu a, #timeOrderMenu a
  color: #444

.itemInfo
  display: none
  z-index: 1000
  position: absolute
  z-index: 10
  text-align: center
  box-shadow: 0 8px 23px rgba(0, 0, 0, 0.5)
  border-radius: 4px 4px 4px 4px
  font-size: 13px
  outline: medium none
  background: none repeat scroll 0 0 #FFFFFF
  background-clip: padding-box !important
  background-color: rgba(255, 255, 255, 0.98)
  border: 0 none
  margin: 0
  padding: 6px 0 6px 0
  right: 0px
  top: 22px

/* Buttons */

div
  &.uploader
    height: 30px
    width: 193px
    &:hover
      height: 30px
      color: #000
    span
      &.filename
        display: none
      &.action
        background-position: right -643px
        margin-left: 5px
        padding-right: 5px
        width: 92px
        background-color: transparent
        height: 26px
        font-family: serif
        text-transform: none
        font-size: 13px
  &.itemOptions div.button
    margin-right: -6px
    color: #333
    span
      font-family: serif
      text-transform: none
      font-size: 13px
      padding-left: 0px
      padding-right: 11px
      width: 78px
    &:hover
      color: #000

.image_upload_form
  display: inline
  margin-right: -97px

#example_and_help_buttons_div
  margin: 6px 13px
  height: 45px

#help_image_container > img
  margin: 24px 204px

.order_selected > li
  background: url("/assets/icon-comment.png") no-repeat scroll 195px 4px #f3f3f3

#social-filter-buttons
  margin-left: 140px
  display: inline
#social-filter-facebook
  display: inline
  position: relative
  padding-left: 10px
  padding-right: 10px
#social-filter-google
  display: inline
  position: absolute

.SubmitUserExample
  position: fixed
  width: 200px
  height: 100px
  top: 500px
  right: 10px
  padding: 16px
  background: #FFFFFF
  border: 2px solid #2266AA
  z-index: 100
  border-radius: 15px

.SubmitUserExample > a
  margin-left: 1px
  text-align: center

#SubmitUserExampleButton
  margin-top: 10px

#UserExampleDiv
  display: none


#UserExampleInfo
  background: #FFFFFF
  text-align: right !important
  padding-right: 20px !important
  padding-top: 20px !important
