@import compass 

.tabrow
  background-image: -moz-linear-gradient(top, rgba(200, 200, 200, 0) 0px, rgba(200, 200, 200, 0) 25px, rgba(200, 200, 200, 0.3) 51px)
  background-image: -ms-linear-gradient(top, rgba(200, 200, 200, 0) 0px, rgba(200, 200, 200, 0) 25px, rgba(200, 200, 200, 0.3) 51px)
  background-image: -o-linear-gradient(top, rgba(200, 200, 200, 0) 0px, rgba(200, 200, 200, 0) 25px, rgba(200, 200, 200, 0.3) 51px)
  background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0px, rgba(200, 200, 200, 0) 25px, rgba(200, 200, 200, 0.3) 51px)
  background-image: -webkit-linear-gradient(top, rgba(200, 200, 200, 0) 0px, rgba(200, 200, 200, 0) 25px, rgba(200, 200, 200, 0.3) 51px)
  text-align: center
  list-style: none
  margin: 0
  padding: 0
  padding-top: 15px
  line-height: 24px
  height: 33px
  overflow: hidden
  font-size: 12px
  font-family: verdana
  position: relative
  li
    background: #D1D1D1
    background: -o-linear-gradient(top, #ececec 50%, #eeeeee 100%)
    background: -ms-linear-gradient(top, #ececec 50%, #eeeeee 100%)
    background: -moz-linear-gradient(top, #ececec 50%, #eeeeee 100%)
    background: -webkit-linear-gradient(top, #ececec 50%, #eeeeee 100%)
    background: linear-gradient(top, #ececec 50%, #d1d1d1 100%)
    display: inline-block
    position: relative
    z-index: 0
    text-shadow: 0 1px #FFF
    margin: 7px -5px 0 -5px
    padding: 0 25px
    border: 1px solid #DDD
    border-bottom-color: rgb(232, 232, 232)
    border-top-left-radius: 11px
    border-top-right-radius: 11px
    box-shadow: 1px 1px 10px rgba(110, 110, 110, 0.6), 2px 17px 22px rgba(0, 0, 0, 0.4), inset 0 1px 0 white
  a
    text-decoration: none
  li.selected
    background: rgb(245, 245, 245)
    background-image: -moz-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 21px, rgb(232, 232, 232) 25px)
    background-image: -ms-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 21px, rgb(232, 232, 232) 25px)
    background-image: -o-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 21px, rgb(232, 232, 232) 25px)
    background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0, rgb(232, 232, 232) 21px, rgb(232, 232, 232) 25px)
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(245, 245, 245)), color-stop(21px, rgb(232, 232, 232)), color-stop(25px, rgb(232, 232, 232)))
    background-image: -webkit-linear-gradient(top, whitesmoke 0, rgb(232, 232, 232) 21px, rgb(232, 232, 232) 25px)
    color: #0654C3
    font-weight: bold
    z-index: 2
    border: 1px solid #AAA
    border-bottom-color: rgb(232, 232, 232)
    border-top-left-radius: 11px
    border-top-right-radius: 11px
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5), 2px 17px 22px rgba(100, 100, 100, 1), inset 0 1px 0 white
  &:before
    position: absolute
    content: " "
    width: 100%
    bottom: 0
    left: 0
    border-bottom: 1px solid #AAA
    z-index: 1
  li.selected
    &:before, &:after
      border: 1px solid #AAA
      position: absolute
      bottom: -1px
      width: 13px
      height: 13px
      content: " "
    &:before
      left: -14px
      border-bottom-right-radius: 11px
      border-width: 0 1px 1px 0
      box-shadow: 4px 2px 0 rgb(232, 232, 232)
    &:after
      right: -14px
      border-bottom-left-radius: 11px
      border-width: 0 0 1px 1px
      box-shadow: -4px 2px 0 rgb(232, 232, 232)

.selectable
  cursor: pointer
  color: #0654C3

.tabrow li.disabled a
  color: #999

.tab-inner
  background-image: -moz-linear-gradient(top, rgba(232, 232, 232, 1) 0, rgba(232, 232, 232, 0.7) 20%, rgba(232, 232, 232, 0.7) 95%, rgba(232, 232, 232, 0) 100%)
  background-image: -ms-linear-gradient(top, rgba(232, 232, 232, 1) 0, rgba(232, 232, 232, 0.7) 20%, rgba(232, 232, 232, 0.7) 95%, rgba(232, 232, 232, 0) 100%)
  background-image: -o-linear-gradient(top, rgba(232, 232, 232, 1) 0, rgba(232, 232, 232, 0.7) 20%, rgba(232, 232, 232, 0.7) 95%, rgba(232, 232, 232, 0) 100%)
  background-image: linear-gradient(to bottom, rgba(232, 232, 232, 1) 0, rgba(232, 232, 232, 0.7) 20%, rgba(232, 232, 232, 0.7) 95%, rgba(232, 232, 232, 0) 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(232, 232, 232, 1)), color-stop(20%, rgba(232, 232, 232, 0.7)), color-stop(95%, rgba(232, 232, 232, 0.7)), color-stop(100%, rgba(232, 232, 232, 0.6)))
  background-image: -webkit-linear-gradient(top, rgba(232, 232, 232, 1) 0, rgba(232, 232, 232, 0.7) 20%, rgba(232, 232, 232, 0.7) 95%, rgba(232, 232, 232, 0) 100%)
  display: inline-block
  padding: 20px 0
  width: 940px

#tabBlock
  position: relative
  width: 768px
  padding-bottom: 30px
  margin: 0 auto
  min-height: 300px
  .tabComments
    padding-right: 4px
  .commentsHeader
    width: 734px
    height: 21px
  .commentsFooter
    margin: -3px 0px 0px -5px
    width: 726px
    padding: 0 9px
    border-bottom: 1px solid rgb(190, 190, 190)
    border-top: 1px solid rgb(255, 255, 255)
    border-right: 1px solid #ddd
    border-left: 1px solid rgb(255, 255, 255)
    background: rgb(245, 245, 245)
    background-image: -moz-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    background-image: -ms-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    background-image: -o-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(245, 245, 245)), color-stop(100%, rgb(232, 232, 232)))
    background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    background-image: linear-gradient(to bottom, rgb(245, 245, 245) 0, rgb(232, 232, 232) 100%)
    position: relative
  .commentsContent
    padding: 3px 5px 0px 5px

#output
  position: relative
  margin-top: 25px
  .header
    position: relative
    float: left
    display: inline-block
    width: 100%
  .SubmitUserExampleDiv  
    display: inline-block
    width: 100%
  #gplus_output_images
    height: 188px
  .output_images
    position: relative
    display: block
    display: inline-block
    width: 100%
    margin: 14px
    .profile_gplus
      position: absolute
      z-index: 3
      right: 54px
      top: -27px
      border-radius: 3px
      padding: 5px
      border: 1px solid #CCC
      background-color: #FFF
      > .image_gplus
        width: 201px
        height: 201px
        position: relative
        overflow: hidden
    .image_gplus > img
      margin-top: -34px
      margin-left: -34px
    .cover_gplus
      position: absolute
      margin-top: 10px
      display: inline-block
    .profile_gplus > .button
      position: relative
      margin-top: 0px
      margin-right: 130px
      float: right
      margin-bottom: 20px
      z-index: 100
    .cover_gplus > .button
      position: relative
      margin-right: 130px
      float: right
  #fb_output_images
    height: 378px
    width: 851px
    margin-left: -40px
    background-color: white
    .profile_fb
      position: absolute
      z-index: 3
      left: 24px
      top: 194px
      border: 1px solid #CCC
      width: 160px
      height: 160px
      padding: 4px
      background-color: white
      @include border-radius(4px)
    .cover_fb
      position: absolute
      display: inline-block
    .image_fb
      top: 1px
      left: 1px
      