#template_examples_content
  .previous
    bottom: 156px
    position: absolute
    opacity: 0.7
    color: transparent
    z-index: 1000
    cursor: pointer
    display: block
    height: 100px
    width: 80px
  .next
    bottom: 156px
    position: absolute
    opacity: 0.7
    color: transparent
    z-index: 1000
    cursor: pointer
    display: block
    height: 100px
    width: 80px
    background: url(/assets/icons/SlideNext.png) no-repeat 0 29px
    right: -84px
  .previous
    background: url(/assets/icons/SlidePrevious.png) no-repeat 49px 29px
    left: -83px
    &:hover
      opacity: 1
  .next:hover
    opacity: 1

#facebox
  .popup
    border: 4px solid rgba(255, 255, 255, 0.5)
  .content
    background: rgb(255, 255, 255)
    background: rgba(255, 255, 255, 0.5)
    padding: 0
    width: 0
  .close
    background: none
    z-index: 1000
  .peliculeBox
    overflow: hidden
    background-color: #E7EBF2
  h1
    position: relative
    z-index: 25
    opacity: 1.0
    height: 40px
    padding-top: 10px
    padding-left: 10px
    overflow: hidden
  .peliculeGplus
    position: relative
    z-index: 20
    opacity: 1.0
    margin: -50px 0 125px 0px
    height: 478px
  .exampleGplus
    position: relative
    opacity: 1.0
    margin: -531px 0 68px 69px
  .peliculeFb     
    position: relative
    z-index: 20
    opacity: 1.0
    margin: -40px -5px 125px
    height: 424px
    left: 5px
    top: 40px 
    margin-top: -40px
  .exampleFb
    position: relative
    opacity: 1.0
    margin: -532px -8px 68px 64px
    left: -36px
    top: 51px