.lineButons .button input
  left: 3px
  top: 2px
  width: 95px
  height: 25px

.itemSubmit .button input
  left: 0px
  top: 0px
  width: 105px
  height: 30px

.cabinet
  > .uploader
    background-position: 0px -523px
    margin-left: 0px
    color: #333
    overflow: hidden
    width: 102px
  .uploader input
    position: absolute
    top: 2px
    left: 3px
    height: 25px
    border: none
    cursor: pointer
    width: 96px
