%div{:id => "commentsBlock"}
  %div{:class => "commentsHeader"}
    %div{:class => "commentsTitle"}
      = t('comments')
    %div{:class => "commentsButtons"}
      -if @all_blog_entry_comments_size > 0
        -if @offset >0
          %div{:class => "commentsButtonPrevious"}
            = link_to image_tag( '/assets/icons/icon-comment-previous.png'), n_comments_blog_comments_path(:blog_entry_id => @blog_entry.id, :offset => (@offset - @quantity) ), :title => t('previous_comments'), :remote => true
        -else
          %div{:class => "commentsButtonPreviousBlocked"}
            = image_tag( '/assets/icons/icon-comment-blocked-previous.png')
            
        -if (@offset + @quantity) < @all_blog_entry_comments_size
          %div{:class => "commentsButtonNext"}
            = link_to image_tag( '/assets/icons/icon-comment-next.png'), n_comments_blog_comments_path(:blog_entry_id => @blog_entry.id, :offset => (@offset + @quantity) ), :title => t('next_comments'), :remote => true
        -else
          %div{:class => "commentsButtonNextBlocked"}
            = image_tag( '/assets/icons/icon-comment-blocked-next.png')
    
        %div{:class => "commentsButtonList"}
          = link_to image_tag( '/assets/icons/icon-comment-list.png'), blog_comments_path(:slug => @blog_entry.slug), :title => t('comments_new_page')
      
  %div{:id => "comments",:class => "commentsContent"}
    -if @all_blog_entry_comments_size > 0
      - @blog_comments.each do |blog_comment|
        %div{:class => "comment"}
          = blog_comment.comment
      
          %div{:class => "commentAuthor"}
            = blog_comment.name + ","
            = blog_comment.created_at.strftime('%b %d, %Y')
        %hr{:class => "blogMinihrUp"}
        %hr{:class => "blogMinihrDown"}
    -else
      = t('first_to_comment')