<% if @saved %>
  $('#comment_form').hide();
  <% if @blog_comment.approved == true %>
    $( "#submit_comment_result" ).html( "<div class='commentSpacer'><%= t('comment_approved') %> </div>");
  <% else %>
    $( "#submit_comment_result" ).html( "<div class='commentSpacer'><%= t('comment_waiting_approval') %> </div>");
  <% end %>
  $('#submit_comment_result').show();
  
<% else %>
  $( "#submit_comment_result" ).html( "<div class='errorIcon'><img src='/assets/icons/icon-comment-error.png' /></div><div class='errorlist'><% @blog_comment.errors.messages.each do |k,v| %><p> <b><%=  BlogComment.human_attribute_name(k) + " " %></b> <%= v.first %></p><% end %></div>" );
  $( "#submit_comment_result" ).attr("display","inline-block");
  $('#submit_comment_result').show();

<% end %>  