
%div{:class => "commentsheader"}
  %h1 
    = link_to t('commentsof') + " '" + @blog_entry.title + " '", blog_entry_path(@blog_entry.slug) 
  %p
    = t('returncomments')
    = link_to @blog_entry.title, blog_entry_path(@blog_entry.slug)

%div{:class => "commentspage"}
  = render 'blog_comments/form'
  = render 'blog_comments/comments_excerpt_page'

