<% if @full_page %>
  $( "#commentsBlock" ).replaceWith( "<%= escape_javascript( render( :partial => "comments_excerpt_page" ) ) %>" );
<% else %>
  $( "#commentsBlock" ).replaceWith( "<%= escape_javascript( render( :partial => "comments_excerpt" ) ) %>" );
<% end %>