%div{:id => "commentsBlock"}
  %div{:id => "comments",:class => "commentsContent"}
    
    -if @template_comments.size > 0
    
      - @template_comments.each do |template_comment|
        %div{:class => "comment"}
          = template_comment.comment
      
          %div{:class => "commentAuthor"}
            = template_comment.name + ","
            = template_comment.created_at.strftime('%b %d, %Y')
        %hr{:class => "blogMinihrUp"}
        %hr{:class => "blogMinihrDown"}
      
      -if @all_template_comments_size > 0
        -if (@offset + @quantity) < @all_template_comments_size
          %p
            = link_to t('next_comments'), n_comments_template_comments_path(:template_id => @template.id, :offset => (@offset + @quantity)), :remote => true

        -if @offset >0
          %p  
            = link_to t('previous_comments'), n_comments_template_comments_path(:template_id => @template.id, :offset => (@offset - @quantity) ), :remote => true
  
        .commentsFooter     
          =link_to t('see_all_comments'), template_comments_path(:slug => @template.slug)
          
    - else
      = t('first_to_comment')