.div{:id => "comment_form", :class => "commentingdiv"}
  =form_for @new_comment, :remote => true do |f|
    .div{:class => "commentCenter"}
      = f.text_area :comment, :class => "commenttextareainput",:placeholder => t('leave_comment')
      .div{:class => "commentingfields"}
        .div{:class => "commentingfield"}
          =f.text_field :name, :placeholder => t('leave_name'), :class => "commenttextinput"
        .div{:class => "commentingfield"}
          =f.text_field :email, :placeholder => t('leave_email'), :class => "commenttextinput"
        .div{:class => "commentingfield"}
          =f.text_field :website, :placeholder => t('leave_website'), :class => "commenttextinput"
        =f.hidden_field :template_id, :value=>@template.id
        =f.submit t('submit'), :class => "commentbutton"
.div{:id => "submit_comment_result", :class => "commentingdiv"}