<% if @saved %>
  $('#comment_form').hide();
  <% if @template_comment.approved == true %>
    $( "#submit_comment_result" ).html( "<%= t('comment_approved') %> ");
  <% else %>
    $( "#submit_comment_result" ).html( "<%= t('comment_waiting_approval') %> ");
  <% end %>
  $('#submit_comment_result').show();
  
<% else %>
  $( "#submit_comment_result" ).html( "<% @template_comment.errors.messages.each do |k,v| %><p> <b><%=  BlogComment.human_attribute_name(k) + " " %></b> <%= v.first %></p><% end %>" );

  $('#submit_comment_result').show();

<% end %>