%h1= t('comments')
%br
%div{:id => "commentsBlock"}
  %div{:id => "comments",:class => "commentsContent"}
    - @template_comments.each do |template_comment|
      %div{:class => "comment"}
        = template_comment.comment
        %div{:class => "commentAuthor"}
          = template_comment.name + ","
          = template_comment.created_at.strftime('%b %d, %Y')
      %hr{:class => "blogMinihrUp"}
      %hr{:class => "blogMinihrDown"}
      
    
    .commentsFooter
      = link_to t('back'), template_path(@template.slug)      

