<script type="text/javascript">
	$(function() {
		$('.crop_me').jWindowCrop({
			targetWidth: <%= @item.width %>,
			targetHeight: <%= @item.height %>,
			loadingText: 'LOADING...',
			onChange: function(result) {
        $('#crop_x').val(result.cropX);
        $('#crop_y').val(result.cropY);
        $('#crop_w').val(result.cropW);
        $('#crop_h').val(result.cropH);
				
				console.log('\n\nx: '+result.cropX);
        console.log('y: '+result.cropY);
        console.log('w: '+result.cropW);
        console.log('h: '+result.cropH);
			}
		});
	});
</script>

<img id="cropbox" class="crop_me" alt="" src=<%= @image.file_url %> />

<%= form_for @image, :html => {:id => 'crop_form'}, :remote => true, :format=>:json do |f| %>
  <%= f.hidden_field "item_id", :value => @item.id, :class =>"item_value", :id => "item_id_#{@item.id}" %>
  
  <%- %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}", :id => "crop_#{attribute}" %>
  <% end %>  
  <%= f.submit t('crop'), :class => "crop_window_buttons" %>
<% end %>

<%= button_to t('close'), '#', :id => "closeCropWindowButton", :class => "crop_window_buttons" %>

<% if @website == "Facebook" %>
  <% if @locale == "en" %>
    <div class="lightboxPeliculeFacebook lightboxPeliculeFacebookEN">
    </div>
  <% elsif @locale == "pt" %>  
    <div class="lightboxPeliculeFacebook lightboxPeliculeFacebookPT">
    </div>
  <% end %>
<% elsif @website == "Google+" %>
  <div class="lightboxPeliculeGplus">
  </div>
<% end %>