<%= remotipart_response do %>
  // Display a Javascript alert

  /*$( '<%= '#form_for_item_' + @item_id.to_s %>' )
    .bind('ajax:success', function(e, data, status, xhr){
  });
  */

  //hide loading icon
  $( '<%= '#uploading_item_' + @item_id %>' ).hide();


  <% if !@image.new_record? %>
  	//updates hidden field value
  	$( '<%= "#hidden_" + @item_id %>' ).val( <%= @image.id %> );

  	//updates image thumbnail
  	$( '<%= '#image_for_item_' + @item_id %>' ).attr("src", '<%= @image.file_url(:cropped_thumb) %>');
	

  	var func = "openCropWindow(<%= @image.id.to_s %>, <%= @item_id.to_s %>, '<%= @locale %>')";
  	$( '<%= '#crop_button_' +  @item_id %>').attr('onclick', func);

    //enable edit button
    $('#crop_button_<%= @item_id %>').removeAttr('disabled', 'disabled');
    $('#uniform-crop_button_<%= @item_id %>').removeClass('disabled');
  
  	//activate the submit button if all the image fields are processed
  	//activateSubmitButton();
  	imageReady();

  <% else %>
    
    <% if @image.errors.messages.first.second.first == "image_to_small" %>
      alert("<%= t(@image.errors.messages.first.second.first, :width => @item.width, :height => @item.height) %> ");  
    <% else %>
      alert("<%= @image.errors.messages.first.second.first %> ");  
    <% end %>
       
  <% end %>

<% end %>
