<script>
  	$('#cropbox').Jcrop({
  	  setSelect:   [ 100, 100, 50, 50 ],
  	  minSize: [<%= @item.width %>,<%= @item.height %>],
      aspectRatio: <%= @item.size%>,
      allowSelect: false,
  		onChange: newUpdateCoords,
  		onSelect: updateCoords
  	});
  
  function updateCoords(coords)
  {
    $('#crop_x').val(coords.x)
    $('#crop_y').val(coords.y)
    $('#crop_w').val(coords.w)
    $('#crop_h').val(coords.h)
  };
  
  function newUpdateCoords(coords){
    $('#crop_x').val(coords.x)
    $('#crop_y').val(coords.y)
    $('#crop_w').val(coords.w)
    $('#crop_h').val(coords.h)
    //insertChildJCropHolder();    
  }
</script>
<%= @item.width %>,<%= @item.height %>
<%= image_tag @image.file_url(:resized), :id => 'cropbox', :size => "#{@width}x#{@height}" %>

<%= form_for @image, :html => {:id => 'crop_form'}, :remote => true, :format=>:json do |f| %>
  <%= f.hidden_field "item_id", :value => @item.id, :class =>"item_value", :id => "item_id_#{@item.id}" %>
  
  <%- %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}", :id => "crop_#{attribute}" %>
  <% end %>  
  
  <%= f.submit t('crop'), :class => "crop_window_buttons" %>
<% end %>

<%= button_to t('close'), '#', :id => "closeCropWindowButton", :class => "crop_window_buttons" %>