//hide loading icon
$('#cropping_item_<%= @item_id %>').hide();
imageReady();

if( $('#image_for_item_<%= @item_id %>').length == 0 ){
  $( '<%= '#div_for_item_' + @item_id %>' ).append(   
    '<%= image_tag @image.file_url(:cropped)+ "?" + Time.now.to_f.to_s, :id=> "preview_for_item_" + @item_id %>'
  );
}else{
	$('#image_for_item_<%= @item_id %>').attr('src', '<%= @image.file_url(:cropped_thumb) + "?" + Time.now.to_f.to_s %> ');
}